[2018-12-21 20:49] driesvints commented on #457
@ohnotnow here are the docs: https://laravel.com/docs/5.7/horizon

[2018-12-21 21:03] ohnotnow commented on #457
@driesvints ah- I was thinking more the public api for getting the metrics rather than how to run Horizon. If it’s not a goer just let me know and I can use a different solution :-) It’d be nice to use horizon, but if there’s no interest in kubernetes/GKE/EKS/AKS etc then I don’t want to use up your time - I’m sure you’ve got better things to do  :-)

[2018-12-21 21:16] driesvints commented on #457
@ohnotnow ah sorry, misunderstood you. No there's no api documentation like the ones for laravel/framework.

[2018-12-21 21:20] ohnotnow commented on #457
@driesvints no worries :-) I’ll look elsewhere for queue stuff :-) Have a good Xmas - thanks for all your efforts on the issues :-) Much appreciated :-)

[2018-12-22 09:11] mfn commented on #457
We've simply looked at the keys and how the queues are structured and derived some simple redis commands which can graph each queue.

This is a script, called via collect infrastructure, which reports the size for each listed queue and the total:
[code]
HTH

[2018-12-22 10:44] ohnotnow commented on #457
@mfn thanks for that :-)  depending how drunk/lazy I am over the holidays I might put something together :-)

[2018-12-27 07:56] xiatian commented on #456
it can't work with phpredis.

php artisan horizon

Symfony\Component\Debug\Exception\FatalThrowableError  : Call to undefined method Illuminate\Support\Facades\Redis::connect()

  at /vendor/laravel/framework/src/Illuminate/Redis/Connectors/PhpRedisConnector.php:109
    105|         if (version_compare(phpversion('redis'), '3.1.3', '>=')) {
    106|             $parameters[] = Arr::get($config, 'r

[2018-12-31 14:11] wsamoht commented on #382
@KevinHN Are you still having issues with this? I am about to deploy ElasticCache and Horizon and am wondering if I should have a second thought.

[2019-01-01 07:51] halaei commented on #342
IMO, this should be a feature of the framework itself. The exact feature I have is to monitor any closure, to make sure it is always calling and gets called again after termination, until some command to restart is issued, like queue:restart or horizon:terminate. Of course, horizon adds to it process monitoring as well.
The reason I think this should be in framework is that every time I needed som

[2019-01-02 02:35] KevinHN commented on #382
@wsamoht,
Yes, I'm still having this issue. I hope you check it as soon.

[2019-01-03 15:13] shawnhind opened #458 "Failed jobs not showing"
Recently on one of our environments the failed jobs page has stopped listing failed jobs.  The jobs are still being put into the failed jobs table in the database but when I go to the failed jobs page on Horizon it just says there aren't any failed jobs.

Recent and monitored tags still show up but failed jobs do not.

I've tested this by triggering a failed job and then checking to see it in the

[2019-01-03 15:19] driesvints commented on #458
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-01-03 15:19] #458 closed

[2019-01-05 08:43] KevinHN commented on #382
@halaei yes, but each server interacting with difference queues.
Example: server 01 interacting with queue name 'high', server 02 interacting with queue name 'medium', server 03 interacting with queue name 'low,mail'.

[2019-01-05 08:50] KevinHN commented on #415
@Braunson
Try with this command 'composer dumpautoload' everytime you deploy new source.
If you run horizon via supervisor, you must restart supervisor. :dancing_men:

[2019-01-06 13:38] halaei commented on #415
One thing I do to check for old horizon processes is this command. It prints all the horizon processes sorted descending by start time. Kill the old ones and see if the error happens again.

    ps -eo pid,lstart,cmd --sort -start_time|grep horizon

I think there has been some bug-fixes in the recent horizon versions that fixed this issue.
I don't use horizon:purge anymore because it interferes ho

[2019-01-08 06:43] robtesch commented on #109
Sorry to re-open this so long after it's closed, but I seem to be getting the same/similar issue. I can see horizon is getting the jobs with axios just fine, but the jobs fail to actually display. All jobs appear to have integer IDs, and horizon was working fine before. If there's anything that could be potentially the cause, it might be because I've recently installed Telescope too (but only have

[2019-01-08 08:20] KevinHN commented on #382
@halaei Sorry for late, I'm quite busy.

I have tried with only 1 worker, and keep only one redis node but the issue is still happen with horizon (not queue:listen).
With an Redis server setup on the EC2 instance, it's work fine even 6 workers interacting with queues at the same time.

[2019-01-09 07:46] halaei commented on #382
In case you need to know why horizon might not work well on clusters the answer is [hash tags](https://redis.io/topics/cluster-spec#keys-hash-tags).
If you really want to run horizon on a redis cluster with sharding (without actually any benefit from sharding), make sure config('horizon:prefix') is set to a hash tag, e.g. '{horz}:' instead of 'horz:', then make sure you use the same hash tag for a

[2019-01-09 09:12] mfn commented on #382
@halaei wow, that's very interesting!

But can you explain what are the operations which fail iff the keys are sharded, then?

Just trying to get a better understanding here, thanks upfront!

[2019-01-09 10:49] KevinHN commented on #382
@halaei wow, I got it now.

The workaround by adding {key} is NG with my case.

queue:listen (and queue:work) works fine, so I hope that the horizon implementation supports cluster like the queue:listen.

[2019-01-09 12:08] halaei commented on #382
Any Redis command that operates on keys in multiple shards will fail. I think the failure is not silent and the server responds with error, unless something is changed in redis behavior that I don't know.

By the way, even without horizon, hash tag for queue names is a MUST because every Redis queue is actually a set of 3 keys which will be accessed by a single LUA script. So if you have a queue s

[2019-01-09 20:44] dpde commented on #182
Yes, would be a nice addition.
In the past, I just opened my Chrome dev tools console and executed `$('table i.icon').click();`. Good enough for me.

[2019-01-10 10:52] pactode commented on #388
Would it make sense to show a count of the tags instead? Then only show the tags in the tooltip.

Something similar to:
![screenshot 2019-01-10 at 11 50 37](https://user-images.githubusercontent.com/5956778/50963814-09199200-14ce-11e9-922c-b39416b16085.png)

Let me know your thoughts.

[2019-01-10 10:54] Donny5300 opened #464 "Large XHR request for polling"
Hi,

Making a request to get failed or recent jobs can be huge. I did some monitoring and sometimes a request can get up 10mb (what I had so far). Using a slow internet connection with 20mbps will make the internet line get stuck because of the requests per second or two. Is there some way to shrink those requests?

[2019-01-10 13:40] driesvints commented on #464
The solution would be https://github.com/laravel/horizon/issues/327 so closing this in favor of that. Feel free to send in a PR if you want to see this added.

[2019-01-10 13:40] #464 closed

[2019-01-10 14:21] driesvints commented on #375
The PR to make this configurable was merged.

[2019-01-10 14:21] #375 closed

[2019-01-11 06:23] xyrintech opened #465 "Failed Jobs Getting Marked as Complete"
I am using Laravel 5.7 with php 7.3, Apache2, Redis for Laravel Horizon.

I am getting an issue, the jobs never get fail if there is any error. Ex.
If I forget to add the use App\Order; then ideally this shall be marked as Failed but currently it does now which creates a lot of confusion that the jobs are getting executed. I am getting this issue since the very beginning.

In addition to this, the

[2019-01-11 06:42] mfn commented on #465
Did it work with your previous version? Is this a new problem?

[2019-01-11 07:39] xyrintech commented on #465
I think yes, php 7.2 was working.
I am not sure whether a new problem or not?
I use Bugsnag, I am getting an error for the failed job on Bugsnag but Jobs are marking as complete.

[2019-01-11 09:19] mfn commented on #465
I've no idea about Bugsnag. Any error? Stacktrace?

[2019-01-11 09:33] tomswinkels commented on #465
I running also PHP 7.3 on NGINX + Apache2 Hybrid and i have no problems.

[2019-01-11 13:32] driesvints commented on #465
Can you provide the stacktrace from bugsnag and any other info from it? The code from the part where it fails?

[2019-01-11 20:44] jandante commented on #255
@mvieghofer Thanks for this solution.

Would be nice though that you can set a timeout property when you launch the job.

[2019-01-12 13:16] driesvints commented on #245
Since this was removed from the current release I'm going to close this. We still have plans to implement this eventually.

[2019-01-12 13:16] #245 closed

[2019-01-13 02:36] swalker2 opened #467 "TypeError: Cannot read property 'toLocaleString' of undefined"
This PR https://github.com/laravel/horizon/pull/462 introduced an error

`TypeError: Cannot read property 'toLocaleString' of undefined`

It is thrown probably before the data is loaded on the component

[2019-01-14 03:41] loic-lopez opened #468 "Shell live check if horizon is running"
Hello,

It is possible to check if horizon is running by running a command in a shell?
I need this feature to implement a readinessProbe and livenessProbe on Kubernetes.

Thanks for reply :)

[2019-01-14 07:02] mfn commented on #468
### Using shell
You mean something like using `ps`?

Not sure how accurate this can be, but there's only one uber process controlling everything:
[code]
The one with `9575` looks like this:
[code]
So it would be possible to use something like:
[code]
### By inspecting Redis
Alternative you could also directly _look_ into redis, e.g.
[code]
gives you a list of currently running masters

Though I ca

[2019-01-14 07:06] loic-lopez commented on #468
I think it would be a good feature if we can 'ping' horizon worker or something like that

[2019-01-14 07:30] mfn commented on #468
Makes sense to me!

The closest there's right now would be `./artisan horizon:supervisors` but having a definite way to check if the "master" process is still running would be great.

[2019-01-14 11:15] xyrintech commented on #465
Sure, I will a copy of that.
I can share more details here as well.

Lets say you have a model Order.php and we call a static function in this model inside the handle method for job.
Ex. Order::getOrders() then if any errors inside the getOrders then the job do not marked as fail

[2019-01-14 11:53] driesvints commented on #465
@xyrintech did you run `php artisan horizon:terminate`? You can read more about deploying Horizon here: https://laravel.com/docs/5.7/horizon#deploying-horizon

You don't need to run `php artisan queue:restart`. Do you also restart php-fpm so your changes are picked up?

[2019-01-14 12:31] driesvints commented on #468
@mfn could this be implemented in the library itself? Probably needs a dedicated endpoint?

[2019-01-14 15:20] xyrintech commented on #465
Yes, I did.
I have tried everything.

Still issue is there.
Lemme give you one more way to replicate - I tried inserting the record with unique validation error (knowingly did to test) and as expected I got unique constraint error by database server but Jobs successfully marks as complete.

[2019-01-14 17:33] ohnotnow commented on #468
At the moment I'm doing something hacky along the lines of :
[code]
which will tell you the process is running, but obviously not if it's actually working :-)  Maybe even if the [command](https://github.com/laravel/horizon/blob/2.0/src/Console/SupervisorsCommand.php#L39) could take an option of `--plain` or `--csv` then we could parse it a little easier with grep, eg :
[code]

Just some background

[2019-01-15 08:59] georgeboot commented on #213
We had the same issue and came across https://github.com/Supervisor/supervisor/issues/152.

Basically, we updated our Forge daemon to have the path as `/home/forge/site.com` and change the command to `php current/artisan horizon`.

[2019-01-15 12:47] dpde commented on #315
What about having multiple worker servers that process the same queue?
I guess I observed that jobs have been proccessed multiple times.

My setup:
1 webserver, 1 redis server, 3 Worker servers that process the same queue.

[2019-01-16 15:11] tomswinkels opened #470 "Feature: Run some queues only on one server"
Hi,

We have multiple servers and the most queues we wan't to run between all the servers but there are queues that we want only run on one server. If that server are down than the queue must to the other server. But not load-balance between the servers.

<img width="959" alt="screen shot 2019-01-16 at 4 07 58 pm" src="https://user-images.githubusercontent.com/9036151/51258023-3de38880-19a9-11e9-9

[2019-01-17 10:35] AdilDar213 commented on #263
You should use --tries parameter with 1 value, for example:
php artisan queue:work --tries=1

[2019-01-17 11:55] driesvints commented on #470
I'm wondering if this is already possible with some combination of ENV vars which you may replace the horizon supervisor settings with. Although I'm not sure about the auto switch for downtime. I think that would be very hard to do as the other Horizon servers would need to be in touch with each other to know about their downtime.

[2019-01-17 12:01] tomswinkels commented on #470
The issue what we have is that we have jobs with sorting.

First job1, if that job is ready? Than the next job (job2).

Problem now is that job1 is running on server one and job2 on server two. (at the same time)

[2019-01-17 12:09] driesvints commented on #470
@tomswinkels sounds more like an architectural problem than a problem with Horizon? Can't you implement some sort of way of knowing that job 1 ran?

[2019-01-17 12:23] tomswinkels commented on #470
Yeah, but i think than it is to slow.

Example; we have webhooks like 'created' and 'changed' first we want send the created but sometimes is changed faster and was send before created.

Maybe a balance option for horizon?

[2019-01-18 19:41] dillingham commented on #328
Currently looking for this now
I have 90k jobs that are false due to a user clicking a import button too many times.

[2019-01-22 11:17] tomswinkels opened #472 "BUG: Not all switch when change the HORIZON_PREFIX"
When we change the Horizon prefix, recent jobs give us all jobs.

[2019-01-22 13:14] driesvints commented on #472
I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2019-01-22 15:47] nCuXaP commented on #205
@elynnaie Thanks alot, my problem was also the wrong understanding of `retry_after`.
You saved me a lot of time (not that I haven`t wasted 2 hours before searching online and finding your solution :D). Thanks alot!!!

[2019-01-22 17:36] ronlobo commented on #328
@dillingham what a diligent user, clicking that button 90k times 😆

[2019-01-23 09:31] CraigHarley opened #474 "Run time incorrect"
Not sure how you can reproduce this because I'm not 100% sure what's causing it, and I can't really post a code sample publicly.

But something is definitely broken here:
![image](https://user-images.githubusercontent.com/8432365/51596745-94911b00-1ef1-11e9-81ca-04b6d4f74970.png)

Horizon reckons one job has been running for 49 years 👴.
And the other looks like it's overflowed into the negatives.

[2019-01-23 10:13] MaartenStaa commented on #452
@driesvints I have the same issue. I use `php artisan queue:retry <id>` to push back a failed job to the queue. `RetryCommand` calls `RedisQueue::pushRaw`, which passes `$this->lastPushed` to `JobPayload::prepare`, but `lastPushed` is never initialised.

Stack trace:

Versions as per composer.lock:
- `laravel/framework`: 5.7.22
- `laravel/horizon`: 2.0.2

[2019-01-23 12:44] driesvints commented on #474
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2019-01-23 12:44] #474 closed

[2019-01-23 12:46] driesvints commented on #452
Okay, I'll try to look at this soon. Appreciating any help with this in the meantime.

[2019-01-23 16:33] driesvints commented on #452
I can't reproduce this. Can you setup a test app or post the minimum amount of code which reproduces this?

[2019-01-24 07:05] tomswinkels commented on #470
What i mean is an job that send webhook to external urls.

[2019-01-24 07:14] tomswinkels opened #475 "Feature: Documentation how to use difference horizons"
In the documentation we dont can find anything about how we can run horizon on production and a horizon in local or staging.

[2019-01-24 12:17] driesvints commented on #475
Honestly, this is something more for a blog post or tutorial.

[2019-01-24 12:17] #475 closed

[2019-01-24 12:19] driesvints commented on #470
You do know that you can specify the queue connection and queue on a job? https://laravel.com/docs/master/queues#customizing-the-queue-and-connection

[2019-01-24 14:10] fgilio opened #476 "Failed Jobs list is empty, but failed jobs show when searching"
Hello!
I have this weird bug that might have been reported before here https://github.com/laravel/horizon/issues/458 and here https://github.com/laravel/horizon/issues/109
I have some failed jobs, but The Failed Jobs list is empty:
<img width="1680" alt="screen shot 2019-01-24 at 11 03 42" src="https://user-images.githubusercontent.com/6857732/51683789-6717a080-1fc9-11e9-9de6-e6ac50ecb7fc.png">

B

[2019-01-24 14:11] driesvints commented on #476
Are you getting any console errors on the first screen?

[2019-01-24 14:14] fgilio commented on #476
Well that was fast haha, thanks.
No errors in the console, but the jobs are there in the response:
<img width="1671" alt="screen shot 2019-01-24 at 11 12 58" src="https://user-images.githubusercontent.com/6857732/51683654-19029d00-1fc9-11e9-90f1-67704aa19e6c.png">

[2019-01-24 14:19] driesvints commented on #476
I was working Horizon bugs atm :)

[2019-01-24 14:20] driesvints commented on #476
You're looking at the wrong endpoint. The one for failed jobs is `/jobs/failed`. Does that one contain jobs?

[2019-01-24 14:21] fgilio commented on #476
Let me see... will update this comment

[2019-01-24 14:35] taylorotwell commented on #274
Horizon does not work with Redis Cluster and likely never will. Even if it did work with Clusters, you wouldn't be taking advantage of the clustering because Lua operations can't operate on multiple shards in one operation. And, for Horizon to work properly, our Lua scripts have to perform operations on multiple keys in one atomic transaction.

[2019-01-24 14:35] #274 closed

[2019-01-24 15:13] driesvints commented on #371
Can you all give me your PHP, Redis and Horizon versions where you're experiencing this problem?

[2019-01-24 15:34] driesvints commented on #476
I can't figure out why this is happening. Can you maybe recreate an example app which recreates this problem?

[2019-01-24 15:57] driesvints commented on #371
I believe I might have found the problem. It's probably the same problem as https://github.com/laravel/horizon/pull/123 so we might need to do this everywhere microtime is used. I'll send in a PR.

[2019-01-24 15:58] driesvints commented on #371
Related: https://stackoverflow.com/questions/30052461/php-why-is-the-dot-in-a-decimal-replaced-by-comma-when-casted-to-string

[2019-01-24 17:49] fgilio commented on #476
Mmm I don't know how soon I can setup that, also I guess it might be something related to the load we have (?
I don't want to sound pretentious, but would it help if we do a video call and I let you control the pc?
Or maybe there is something I can debug myself (?

[2019-01-24 18:24] fgilio commented on #476
It seems to happen when there are lots of failed jobs to show.
I have a pretty general (issue:pdf) tag that matches a ton of jobs, if I search for that one then the list is empty, even when the response from the server does contain jobs.
But if I search for a tag (issue:26165) that is related to just a couple of jobs then those are shown correctly. Even if those jobs should also be shown when sear

[2019-01-24 19:06] philippe-tellier commented on #371
PHP: 7.2.11
Redis: 4.0.11
Horizon: 2.0.0

[2019-01-25 06:54] setkyar opened #479 "This is by design. When a job has failed and is retried it's considered to be a new job."
This is by design. When a job has failed and is retried it's considered to be a new job.

_Originally posted by @driesvints in https://github.com/laravel/horizon/issues/310#issuecomment-433106716_

What to do other failed jobs after one successful retry?

Let's say I have one queue Job. Which retry 3 times and failed. So, there will be total 4 failed jobs which do the same thing. I retried one job

[2019-01-25 13:55] #340 closed

[2019-01-25 15:38] shawnhind commented on #476
I wonder if the issue could maybe be the data contaiend in the jobs itself failing to be parsed by the component?  I unfortunately can't post the retrieved failed job data since it contains customer contact information.

[2019-01-27 14:38] fgilio commented on #476
Hi @shawnhind 👋🏼
Did you manage to solve this or figure out where the problem is? I agree with you on that it seems to be a problem parsing the data to generate the table. @driesvints maybe Horizon changed the data format on some of it's updates and the old data in Redis is no longer compatible with the frontend?
I've just weakeded my Horizon config to use Redis db 2, that one is now only used by

[2019-01-27 15:08] fgilio opened #480 "Wrong number of processes in Current Workload card"
Just as the title says, I see a wrong number of processes for each queue on the Current Workload card. The data from the API is correct though. Some caps:
<img width="1680" alt="screen shot 2019-01-27 at 12 02 49" src="https://user-images.githubusercontent.com/6857732/51802801-28355500-222c-11e9-819a-3adee365f983.png">
<img width="1679" alt="screen shot 2019-01-27 at 12 02 57" src="https://user-im

[2019-01-27 15:11] fgilio commented on #143
This would be awesome, had a similar situation some days ago. It'd be really useful to have more visibility onto the retries and the jobs data.

[2019-01-27 15:14] fgilio commented on #454
This would be really useful, at least a minimal implementation. Or to be able to search by tags in Recent Jobs like we already can in Failed Jobs.

[2019-01-27 15:52] fgilio commented on #386
@joveice did you fixed this? Was it a problem in your code or Horizon's?

[2019-01-27 17:34] fgilio commented on #386
Ooh ok, thanks for the explanation!

[2019-01-28 11:54] iShotFT commented on #371
PHP 7.2.12 (cli)
redis_version:3.0.3
laravel/horizon: v1.4.3

[2019-01-28 14:14] driesvints commented on #479
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-01-28 14:14] #479 closed

[2019-01-28 14:17] shawnhind commented on #476
@fgilio no I haven't been able to solve this.  It still occurs.

I don't think it's a change in Redis data format being the problem though.  In my experience it will occur for a few days, then suddenly will be working again, and then will not display again for a few days.

I'm thinking that some type of data that my program is generating for jobs is serializing correctly to Redis but is not being

[2019-01-28 14:41] driesvints commented on #476
@fgilio @shawnhind which laravel, horizon & redis versions are you using?

[2019-01-28 14:43] driesvints commented on #480
It's correct I believe? 6x2 = 12?

[2019-01-28 14:50] fgilio commented on #480
I mean the data from the API is correct, it shows that in that moment each queue had 2 processes assigned. But in the UI all queues are shown as having 12 processes.
This was working ok the last time I checked with Horizon 1.4.3, I'm now using 2.0.3.

[2019-01-28 14:52] fgilio commented on #476
Laravel 5.7.22, Horizon 2.0.3 and Redis 5.0.3

[2019-01-28 14:59] shawnhind commented on #476
I'm using Laravel 5.6 and horizon 1.4.3.  We are looking into updating our production laravel to 5.7 soon but haven't yet.  I know you guys don't support 5.6 anymore though.

[2019-01-28 15:03] #371 closed

[2019-01-28 15:03] driesvints commented on #480
Aha, I see what you mean. I'll take a look at this soon.

[2019-01-28 15:05] driesvints commented on #476
Thanks.

@shawnhind neither Horizon 1 so it's indeed best if you upgrade.

@fgilio have you tried purging all data from redis, purging cache, restarting servers and horizon processes etc?

[2019-01-28 15:05] fgilio commented on #480
Thanks! And, of course, tell me if I can help with debugging or if you need any more info.

[2019-01-28 15:17] fgilio commented on #476
Yes, I kinda just did that.
A couple of minutes ago I deployed to production this changes 👇🏼 I talked about in [a prev comment](https://github.com/laravel/horizon/issues/476#issuecomment-457923231):

I had to manually restart the Supervisord Daemon in forge cause Horizon was not booting up, had to do the same when deployed those changes in staging.

The failed jobs log of the last 7 days is now lo

[2019-01-28 22:02] driesvints commented on #213
@denjaland @sebastiaanluca are you still experiencing this problem? I genuinely believe this is a configuration or deployment step problem and not a problem with Horizon itself.

[2019-01-28 22:07] driesvints commented on #333
@mfn @fgilio do you believe this can solve #271?

[2019-01-28 22:13] fgilio commented on #333
Yes, I think it can partially solve that issue.
What I mean with partially is that it will depend on the amount of jobs. If a system has 1000 jobs per minute then the Redis db could be filled in just an hour. But this may be solved by just making the value configurable and stating this fact clearly in the docs, so every dev chooses an appropriate value.

[2019-01-28 23:13] mfn commented on #333
@driesvints I second what @fgilio said above: depending on the amount of activity there seems to be always a possibility to "eat too much ram".

I guess the only real solution would be an implementation of an RRD which usually have fixed sizes, but I digress.

[2019-01-29 01:03] sebastiaanluca commented on #213
@driesvints For now I would say it's indeed a deployment issue. Dug a little deeper and found the setup that might cause this. Somewhat similar to @georgeboot's issue, I believe.

For instance, in case of Envoyer and/or zero downtime deployments, the Supervisor job stays active with a previous release of the project —**regardless of any pause, terminate, or purge commands** being executed during d

[2019-01-29 06:42] mfn commented on #213
So is it solved now for you?

Yes, absolutely.
This is the first thing at which investigation should have stopped. If this doesn't work, the setup itself is wrong in some way.

[2019-01-29 10:07] setkyar opened #482 "Using custom env instead of APP_ENV"
I have 2 Horizon servers which handle different `supervisor`. For example, currently I have to use like the following and I need to update my `.env` file `environment` as `workerOne` and `workerTwo` separately.

[code]

What happened was some worker check `.env` environment as well. So, I got environment sharing problems. Can we use separately? If that's open for PR. I would submit.

[2019-01-29 10:08] driesvints commented on #482
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-01-29 10:08] #482 closed

[2019-01-29 10:11] setkyar commented on #482
@driesvints No, I am not asking problem question here. I am asking, does horizon plan to add custom env instead of `APP_ENV` for Horizon? If so, I would PR.

[2019-01-29 10:20] driesvints commented on #482
Ah I see. I think you're looking for: https://github.com/laravel/horizon/issues/438

[2019-01-29 10:33] setkyar commented on #482
#438 is only for Timeout. Mine is for `php artisan horizon` command which currently check by using `.env` environment instead I want let user choose. They still can continue using `.env` enviornment and also giving a way to add custom.

[2019-01-29 12:15] driesvints commented on #213
@sebastiaanluca can you try replace the foreach loop in the terminate command with the following and copy/paste the output here while recreating the permission error?

[code]

[2019-01-29 13:33] #480 closed

[2019-01-29 15:47] driesvints commented on #333
I've sent in a PR for this: https://github.com/laravel/horizon/pull/484

About the problem of speedy fill ups: I think you'll probably have bigger problems in that case and it doesn't really makes sense to monitor anyway if your DB can't keep up.

[2019-01-29 15:48] driesvints commented on #333
@mfn @fgilio can you both have a look at https://github.com/laravel/horizon/pull/484 and let me know on the PR itself if it looks ok to you?

[2019-01-29 16:49] driesvints commented on #213
@sebastiaanluca I sent in a PR for this: https://github.com/laravel/horizon/pull/485

[2019-01-29 16:51] driesvints commented on #213
I'm going to close this as this obviously is a configuration/deployment setup issue and not an issue with Horizon itself. This can best be explained in a blog post or a tutorial somewhere. If you feel that anything is missing from the docs for deploying feel free to send in a PR to https://laravel.com/docs/5.7/horizon#running-horizon

[2019-01-29 16:51] #213 closed

[2019-01-30 00:06] michaelnguyen547 opened #486 "Horizon does not spawn correct number of processes"
Horizon : v2.0.0
Laravel: v5.7.20

This is my horizon config

    'environments' => [
        'production' => [
            'supervisor-1' => [
                'connection' => 'redis',
                'queue' => ['urgent', 'medium', 'low'],
                'balance' => 'auto',
                'processes' => 4,
                'tries' =>1,
            ],
        ],

I have 3 queues and 4 processes.

[2019-01-30 11:57] driesvints commented on #486
Can you update to the latest Horizon version and see if the problem persists?

[2019-01-30 14:33] #333 closed

[2019-01-30 14:33] #271 closed

[2019-01-30 22:39] #453 closed

[2019-01-30 22:50] driesvints commented on #452
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-01-30 22:50] #452 closed

[2019-01-30 22:50] driesvints commented on #472
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-01-30 22:50] #472 closed

[2019-01-31 10:51] karamvirs commented on #244
@travisbotello

I am running both dev and production instances of my app on the same ubuntu server.
APP_ENV = dev (on development)
APP_ENV = production (on production)

Here is my horizon config in horizon.php:
`'environments' => [
        'production' => [
            'supervisor-production' => [
                'connection' => 'redis',
                'queue' => [env('DEFAULT_QUEUE','default')],

[2019-01-31 11:15] travisbotello commented on #244
Two suggestions/questions:

- how are you tracking failed jobs? Are you seeing failed jobs in Hoirzon stats, or are you using failed-table?
- when running dev and production application on the same server you have to make sure that you are not using the same redis database for those applications, otherwise there might be some conflicts. So either change the databases or maybe work with a prefix (h

[2019-01-31 21:42] karamvirs commented on #244
I have the failed_jobs table in database but it is blank.
The job I am running is a simple email.

When I dispatch a job on production queue, it immediately  fails. On the production horizon dashboard I see an increment in JOBS PAST HOUR and no increment in failed jobs.
But then I check horizon.log on production and its empty.

Then I check horizon.log on dev and it says job failed.
It seems the p

[2019-01-31 21:58] karamvirs commented on #244
Horizon documentaion does say this:
![image](https://user-images.githubusercontent.com/3183185/52088246-1ae6e480-25f7-11e9-9489-c5a9e80d2b82.png)

But it doesnt help.

[2019-02-01 10:17] travisbotello commented on #244
I think the relation between `retry_after` and `timeout` is much better explained in official Laravel docs. This Medium.com article is quite confusing regarding this:

https://laravel.com/docs/5.7/queues#job-expirations-and-timeouts

Looking at the screenshot of your Horizon Dashboard it is very strange that under **Current Workload** you are seeing:

- `dev_default` => 6 processes
- `production_

[2019-02-01 14:14] karamvirs commented on #244
I changed my config yesterday and disabled dev and left only production and everything was normal.
I ll change it back over the weekend and send screenshots.

Question:
once we define the 'connection' in horizon.php, does it override the connection defined in queue.php?
Does the connection in queue.php matter at all after that?
Also, does the queue defined in horizon.php
'queue' => ['d-high','d-de

[2019-02-01 16:02] travisbotello commented on #244
I think you are mixing something up here: Inside `queue.php` you define connections that can be used by horizon. (only Redis driver is supported for horizon) For example you are specifying a default redis connection (or you can also add more redis connections to `queue.php` that has a different `retry_after`setting): (https://laravel.com/docs/5.7/queues#connections-vs-queues)

[code]

Then inside

[2019-02-01 20:00] tcope25 commented on #170
@driesvints any update on getting horizon to work on windows?

[2019-02-01 23:49] karamvirs commented on #244
Thanks for the clarification. I did not know that queue.php just specifies the default queue name.
Lot clearer now. BUt multiple horizons on same server is still a mystery.

I ve given up the plan to setup multiple horizon versions on the same server. It seems its better to keep them separate, than having issues with live jobs later.

[2019-02-04 08:37] driesvints commented on #170
@tcope25 nope but we're open to pull requests.

[2019-02-04 09:40] halaei opened #501 "Wrong ratio of jobs per minute over recent jobs"
I have the following `horizon.trim` config:
[code]

So the number of recent jobs should be around 5 times the number of jobs in the last minute, but it is not, the ratio is closer to 1 to 3 and always less than 1 to 4:

![screenshot from 2019-02-04 13-06-53](https://user-images.githubusercontent.com/7089140/52200346-cb661a00-287d-11e9-8e23-3f4bbfeec4d2.png)
![screenshot from 2019-02-04 13-03-36](h

[2019-02-04 10:06] driesvints commented on #501
Heya, thanks for reporting. This isn't how it's calculated though. It's the amount of throughput since the last snapshot / the amount of minutes since the last snapshot: https://github.com/laravel/horizon/blob/ea877727927326e60e1a01c82ed523b4eab98bad/src/Repositories/RedisMetricsRepository.php#L67

[2019-02-04 10:18] halaei commented on #501
@driesvints I think the bug is in `minutesSinceLastSnapshot()`. I am trying a PR. Maybe this shouldn't be closed.

[2019-02-04 10:19] driesvints commented on #501
@halaei I thought the number could differ from the jobs per 5 minutes since the last snapshot period isn't the same as that and thus your total of jobs per minute isn't either.

[2019-02-04 10:45] halaei commented on #501
@driesvints From what I see, the computations are wrong because of using round() funcion. I think the correction can be changing
[code]
to
[code]
But I assume in the first minute after every snapshot, numbers are more inaccurate.

[2019-02-04 10:50] driesvints commented on #501
Wouldn't that return a float instead of an integer?

[2019-02-04 10:50] halaei commented on #501
Also why not just show (Jobs Past 5 Minutes) / 5? If the number is intended to mean something else, then shouldn't it be reflected in the title, e.g. **processed** jobs in the last minute?

[2019-02-04 10:52] halaei commented on #501
It is a float, but the formula uses the return value needs a float?

[2019-02-04 11:13] halaei commented on #501
To make my issue clearer, you may see that immediately after every snapshot, `Jobs Per Minute` is reset to zero.

[2019-02-04 13:11] driesvints commented on #501
Because it's not based on the last 5 minutes but on the last snapshot.

Hmm, was confused because the method name said "minutes" and I didn't understand why it could be a float. Not sure why it's like that.

Where is this done?

[2019-02-05 08:51] driesvints commented on #501
@halaei I see. Thanks for explaining. Would you believe a default value of 1 would work? Can you test with that change?

[2019-02-05 09:01] travisbotello commented on #244
Are you running the` snapshot` command accordingly? https://laravel.com/docs/5.7/horizon#metrics

[2019-02-05 09:10] karamvirs commented on #244
Yes. I ve set up the command in the scheduler.

On Tue 5 Feb, 2019, 7:01 PM Travis Botello, <notifications@github.com>
wrote:

[2019-02-05 09:21] travisbotello commented on #244
Imho this is expected behavior. Metrics are showing historical data as well. So when you rename queues, the old queues are also shown under Metrics. Check these posts:

https://github.com/laravel/horizon/issues/171
https://github.com/laravel/laravel/pull/4665

[2019-02-05 09:59] travisbotello commented on #244
Maybe you should try to completely empty the redis dbs used by horizon. Then check if metrics are empty and start from scratch.

[2019-02-05 10:06] driesvints commented on #244
@karamvirs @travisbotello hey guys. I'm glad that you are helping each other out but I'm going to have to ask you to take this to Discord or another medium as this is not a support forum. At the moment I'm constantly receiving notifications for this. Thanks!

[2019-02-05 18:52] michaelnguyen547 commented on #486
I am running Horizon v2.0.3 and still have this proble

[2019-02-05 21:06] halaei commented on #501
@driesvints Also I noted that the number of recent jobs is also incorrect, because the jobs saved before config('horizon.trim.recent') minutes ago might not get immediately trimmed.

[2019-02-05 23:10] booni3 opened #504 "Supervisors not restarting after deploy (forge daemon)"
Horizon runs fine but only recently, after a deploy, supervisor and queue workers do not start back up again with Horizon GUI showing "Inactive"

To get them running again I can:
- restart the daemon worker from within forge
- restart the supervisor `/etc/init.d/supervisor restart`

My deploy script has `php artisan horizon:terminate` within it. I have also tried reset/purge and a combination ther

[2019-02-06 06:50] mfn commented on #504
This is expected. Can't terminate or expect action from something which isn't running.

It's the other way around: supervisor (and that is its sole purpose) always runs and watches the configured processes and starts them if they exit.

The artisan instructs horizon to terminate and supervisor will bring it back up again. Since "daemon" would refer to anything running (horizon, supervisor; it gets

[2019-02-06 08:09] halaei opened #507 "Balance is disabled by default"
Balance options is supposed to be 'simple' by default, based on the documentation and in order to keep backward compatible. But it seems that now balance is false (off) when not set in .

[2019-02-06 09:15] halaei commented on #501
I tested my 2 PRs together. Now metrics are more smooth, they don't fluctuate that much. This shows improvement. However, the ratio is now 2 to 5 (instead of 1 to 5). That is because every job is computed 2ice in throughput metric, which is to me a more serious bug. I can confirm that Events\JobDeleted is fired 2 times per job. Metrics aside, you may regard it as a terrible performance bug.

[2019-02-06 09:15] halaei commented on #501
![screenshot from 2019-02-06 12-37-53](https://user-images.githubusercontent.com/7089140/52331310-1498a400-2a0d-11e9-9a86-221f2767067f.png)

[2019-02-06 12:44] halaei commented on #501
Firing events twice was due to some third party package. That aside, still my PRs are good to be merged.
![screenshot from 2019-02-06 16-11-11](https://user-images.githubusercontent.com/7089140/52342302-4b30e780-2a2a-11e9-9b1b-1659259e88e0.png)

[2019-02-07 09:09] driesvints commented on #504
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.net/?nick=laravelnewbie&channels=%23laravel&pro

[2019-02-07 09:09] #504 closed

[2019-02-07 09:27] driesvints commented on #507
I think the docs mean that simple is the default for the config file (which is true) but the docs are a little confusing about this. I've sent in a PR to clarify this: https://github.com/laravel/docs/pull/4962

[2019-02-07 09:27] #507 closed

[2019-02-07 09:44] driesvints commented on #486
I currently don't have the time to look into this so appreciating any help with this. Otherwise I'll look into this soonish.

[2019-02-07 13:46] #501 closed

[2019-02-08 22:10] francislavoie commented on #486
This seems like it's a function of how many queues you have defined. The math for balancing out across the queues is probably incorrect.

Seems like the logic for that is over here: https://github.com/laravel/horizon/blob/384c84512cdf929886343c2e498f8dc4180d8728/src/AutoScaler.php#L98

[2019-02-08 23:50] michaelnguyen547 opened #509 "maxAttemptsExceededException failed job loop"
Horizon v2.0.3

Horizon, for whatever reason, keep spawning new job for MaxAttemptsExceededException failed job.

This is the screenshots:

![screen shot 2019-02-08 at 4 51 42 pm](https://user-images.githubusercontent.com/436950/52512413-dee8ec00-2bc1-11e9-823f-d0bc7e2e6252.png)

![screen shot 2019-02-08 at 4 52 18 pm](https://user-images.githubusercontent.com/436950/52512421-ea3c1780-2bc1-11e9-8e

[2019-02-11 01:50] danielfaulknor opened #510 "Dashboard losing data on refresh"
When I load up Horizon for the first time, I see the full dashboard. Overview, Current Workload, List of Supervisors. This is with all queues empty.

If I add some jobs, and then refresh the page, Current Workload goes away, and on 1/2 refreshes, the Overview is all zeros and even the polling doesn't fill it in.

Is it intended for Current Workload not to load when there are jobs in the queue? I'm

[2019-02-11 10:37] driesvints commented on #510
Hi there,

Looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [Discord](https://discordap

[2019-02-11 10:37] #510 closed

[2019-02-11 11:00] driesvints commented on #509
Have you read https://github.com/laravel/horizon/issues/128 ? Which OS are you on? Which Laravel version? Can you provide a basic app which recreates this problem?

[2019-02-11 11:20] vaniyokk commented on #452
I have a same problem.

I already have failed jobs in my failed_jobs table, and after installing of horizon I can't retry that jobs.

`
$ sudo -u apache php artisan queue:retry all -vv
In Tags.php line 107:

[ReflectionException (-1)]
Class does not exist

Exception trace:
() at /var/www/vendor/laravel/horizon/src/Tags.php:107
ReflectionClass->__construct() at /var/www/vendor/laravel/horizon/src/T

[2019-02-11 11:22] driesvints commented on #452
@vaniyokk Can you setup a test app or post the minimum amount of code which reproduces this?

[2019-02-11 11:36] vaniyokk commented on #452
I can provide any code you need, or make any debugging actions, but this issue relies on DB data in the failed_jobs table. I have no time for deploying test application with the state needed to reproduce an issue for now.

Have just reverted repository to the state before install of laravel-horizon and queue:retry works perfectly!

[2019-02-11 23:00] derekmd commented on #476
`RedisJobRepository@getJobs()` removes some failed job results missing the expected payload format. This can cause the API endpoint to return a PHP associative array. So the JSON body becomes a JavaScript `object` rather than the expected `Array` that resources/js/pages/Failed/Index.vue uses.

`jobs.length` JS conditionals are failing because an `object` doesn't have the `.length` property.

Examp

[2019-02-12 13:28] #476 closed

[2019-02-12 18:56] ibrunotome commented on #470
@driesvints I have a similar situation: Horizon settings with 60 processes, that means that I have 60 opened database connections. If the load balance put another instance up, that will turn into 120 opened database connections... 3 instances means 180... etc. All they for horizon. So if I could set "the maximum number of horizon instances is 2" or something like that, it will prevent problems of

[2019-02-12 23:40] fgilio commented on #476
This is awesome, thanks!

[2019-02-13 01:06] michaelnguyen547 commented on #509
I fixed the issue by going to Failed job and click Retry. Horizon stopped creating more jobs after that.

[2019-02-13 01:06] #509 closed

[2019-02-13 22:28] tomswinkels opened #512 "Feature: Add version number"
Maybe its a good idea to add the version number in the copyright line of Horizon. So that i can see with version of Horizon is running.

[2019-02-13 22:52] srottem commented on #304
Can this be reopened?  I'm also seeing the behavior, but in my case sometimes it's on the Recent Jobs list.  The spinner is displayed for ages (several minutes) but will eventually show the list.

While th spinner is shown I can see the network calls to **recent?starting_at=-1&limit=50** happening every second or so, but for the duration that the spinner is shown the following error is displayed i

[2019-02-14 10:44] driesvints commented on #512
It would require us to update the version with every release which will lead to confusion if we forget to do it. You can know which version you're running by looking at your `composer.lock` file.

[2019-02-14 10:44] #512 closed

[2019-02-14 10:46] driesvints commented on #304
@srottem can you show us an example app which re-creates this problem? Perhaps some example requests with their payload, response & headers?

[2019-02-14 22:02] srottem commented on #304
I'm afraid I can't provide an example app - no time to build one and the affected one is restricted access.  I can, however provide a sample request.  The attached is an HAR from Chrome while the spinner was displayed while attempting to view recent jobs.  Note that I have anonymized it a little by replacing the company name with the word 'company', but other wise it's unchanged.
[HAR.txt](https:/

[2019-02-14 22:51] srottem commented on #304
What's interesting is that although the HAR from Chrome shows the errors all of the requests receive a valid JSON response - see attached for a sample taken from one of the requests while the spinner was spinning.
[response.txt](https://github.com/laravel/horizon/files/2867077/response.txt)

[2019-02-14 23:46] jfoliveira commented on #121
Hey @driesvints,
I've noticed that Horizon 2.1.0.
Is Lumen support completely discarded by Laravel team? :-(
Any recommended workaround for using Horizon with Lumen?

[2019-02-18 15:57] tomswinkels commented on #327
I have make a pr https://github.com/laravel/horizon/pull/514

[2019-02-20 17:10] fredrlx commented on #304
Hi, not sure if this is related or not but I had the same issue with the Failed Jobs panel loading forever. There were exceptions filling up my Laravel log when browsing the Failed Jobs tab:

But the stack trace did not allow to see what code in Horizon triggered that. I had to clear the failed_jobs keys in redis to unlock the situation. This issue appeared after I indeed changed the encoding of s

[2019-02-21 22:14] JayBizzle commented on #512
You could automatically get the installed version number something like this...then you'd never forget 😄

[code]

[2019-02-22 20:38] johnpaulmedina opened #517 "Failed Jobs not reporting accurately"
Failed jobs not showing reason for error. I am also seeing that on the failed jobs list page they show the correct time however when I open the failed jobs the time and date is completely inaccurate and the error is empty.

<img width="993" alt="screen shot 2019-02-22 at 3 31 26 pm" src="https://user-images.githubusercontent.com/1139439/53269746-aebc4580-36b7-11e9-89b4-a58b1f0d5de4.png">
<img widt

[2019-02-22 20:43] johnpaulmedina opened #518 "[ENHANCEMENT] Sorting on table views"
The ability to sort by time and date on table views.

[2019-02-22 20:59] johnpaulmedina commented on #517
That was on the recent job view (not specifically on failed jobs view)

[2019-02-22 23:10] johnpaulmedina opened #519 "[BUG] Horizon autoupdated table data not completely updating index"
When a job is added to the VIEW not all of the ROW details are updated. For instance on hover of the NEW job it shows the details of the old job and every job thereafter is now the previous job before that one. See screenshot.

<img width="319" alt="screen shot 2019-02-22 at 6 08 58 pm" src="https://user-images.githubusercontent.com/1139439/53276475-2c3e8080-36cd-11e9-8280-442cc26c60ad.png">

[2019-02-25 03:12] johnpaulmedina opened #520 "Click to copy tooltip"
If your tag ID is longer than x chars Horizon will shorten and add eclipses to the end of the text. The tooltip will show the correct value, maybe a click to copy full value to clipboard is useful.

[2019-02-25 09:10] driesvints commented on #520
Can you show some screenshots of the current behavior and how it goes wrong?

[2019-02-25 09:20] driesvints commented on #519
I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2019-02-25 09:21] driesvints commented on #517
I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2019-02-25 09:29] themsaid commented on #518
It's already sorted based on time.

[2019-02-25 09:29] #518 closed

[2019-02-25 09:30] themsaid commented on #520
@johnpaulmedina working on a frontend overhaul, however I don't see this coming soon.

[2019-02-25 09:30] #520 closed

[2019-02-25 09:31] themsaid commented on #519
This will be fixed in the upcoming overhaul.

[2019-02-25 15:30] josegus commented on #255
so, basically adding the "timeout" key in horizon.ph should be enough

[2019-02-26 08:11] frinux opened #521 "Old horizon backoffice tab triggering"
I let an opened tab of horizon backoffice during the night. Of course authentication expired, but it seems it is not handled properly: my application logged continuously an obscure error:

[code]

When debugging, the stacktrace showed:

[code]

Failed authentication should be handled properly: don't trigger ERROR level logs.
Frontend should not retry every second to re-authenticate if 403 is retur

[2019-02-26 08:59] driesvints commented on #521
Hmm. Indeed. We could handle this better.

[2019-02-26 14:54] themsaid commented on #336
No plans to implement this. Sorry.

[2019-02-26 14:54] #336 closed

[2019-02-26 14:54] themsaid commented on #407
Will be available in the upcoming release.

[2019-02-26 14:54] #407 closed

[2019-02-26 14:57] themsaid commented on #388
No plans to change this at the moment since I don't think it's a common problem.

[2019-02-26 14:58] themsaid commented on #454
This will require changes in the controllers and repository before considering UI changes. Feel free to submit a PR.

[2019-02-26 15:17] driesvints commented on #388
Talked to @themsaid about this and we're going to keep this open for now. I personally think clipping the content and clicking to show the rest is a good solution but feel free to say a different proposal.

[2019-02-27 17:14] tshafer opened #525 "Unable to locate Mix file: /app.css."
Upgraded to 3.0

Ran php artisan horizon:install

Unable to locate Mix file: /app.css. (View: /vendor/laravel/horizon/resources/views/layout.blade.php)

[2019-02-27 17:24] themsaid commented on #525
Make sure you re-publish the assets:

[code]

[2019-02-27 17:27] tshafer commented on #525
Oops, thanks!

[2019-02-27 17:27] #525 closed

[2019-02-27 17:48] jonnywilliamson opened #526 "Failed Jobs date format can be ambiguous"
The column that shows the date for failed jobs (and also some other locations in the app) is sometimes ambiguous.

For example, lets assume it's January 2020. You have an app that doesn't get many failed jobs. But when you look at the table in mid January look you see this:

![image](https://user-images.githubusercontent.com/2513663/53510662-71402980-3ab6-11e9-9168-7148f6d75e92.png)

On first glan

[2019-02-27 18:50] travisaustin commented on #526
If you submit a PR, would you add a config option that supports editing the default format, instead of hard-coding a format? This would allow a user to define a relative format, or add a day of the week, etc.

[2019-02-28 08:48] driesvints commented on #526
Feel free to send in a PR.

[2019-02-28 08:48] driesvints commented on #526
I feel like a user defined format would be a little overkill in terms of customization. Let's just keep it at making it the full year now.

[2019-02-28 09:45] danielfaulknor commented on #510
@driesvints can you please explain how this is a support question and not a bug? It would help me in getting the support. It definitely feels like a bug. It's unexpected behaviour and does not seem to be intended (not mentioned in docs)

I've asked on Discord, Larachat and the Laracasts forums and got no responses.

[2019-02-28 10:01] driesvints commented on #510
Heya. So what I suspect that's happening is that your current workload is empty because at that time there isn't anything on your queue. Your job is either still being pushed or already been taken care of. Please note that "current workload" only displays jobs which are waiting to be processed.

[2019-02-28 12:09] shadoWalker89 opened #530 "Failed job not showing"
Hi,

So i have a failed job that is not showing on the horizon failed jobs tab. But it is showing in the dashboard

![image](https://user-images.githubusercontent.com/1449151/53565414-b79a9480-3b59-11e9-8e77-fe54944f84db.png)

But the list of failed jobs is empty

![image](https://user-images.githubusercontent.com/1449151/53567289-0696f880-3b5f-11e9-8fee-d05c9c20a096.png)

Even though the ajax req

[2019-02-28 12:51] driesvints commented on #530
Hmm. I've been looking into this but can't seem to reproduce it. Can you perhaps post some code and/or set up a test app?

[2019-02-28 13:19] shadoWalker89 commented on #530
I'm not doing anything fancy.

Just using the ShouldQueue interface on a mail class.

The error that you are seeing is caused by me making a syntax error in the email markdown file to test the failed jobs tab.

I'm not familiar with horizon code, and this is my first time using horizon but i suspect that this has something to do with redis and this is why.

The redis command being executed to get

[2019-02-28 13:25] driesvints commented on #530
Can you try to replace line 160 with the following and see what happens?

[code]

[2019-02-28 13:46] shadoWalker89 commented on #530
That will give an error `Redis::zRange() expects parameter 2 to be integer, string given`
But replacing the `-inf` with `-1` does the trick and the failed job is displayed.

But if you check this line

https://github.com/laravel/horizon/blob/c32b172586d4693df235d7e8855c811ca208e5a9/src/Repositories/RedisJobRepository.php#L157

You will see that similar check is there with the exception that is che

[2019-02-28 13:52] driesvints commented on #530
Can you try this?

[code]

[2019-02-28 13:54] shadoWalker89 commented on #530
Yeah that works as well

[2019-02-28 14:00] driesvints commented on #530
Cool. I think the `paginateByTag` method is ok because the implementation is slightly different there. Actually I believe that's the solution all along. Can you try one more time with this change:

[code]

[2019-02-28 14:10] shadoWalker89 commented on #530
Not this last one does not work.
Go back to having an empty array for the jobs

[2019-02-28 14:13] driesvints commented on #530
Ah I see, that's because it's a different method call. I'll send in a PR with the fix. Thanks for reporting.

[2019-02-28 17:31] mikeminckler opened #533 "Add the force option to horizon:install"
While upgrading to v3.0 I was getting an error that Laravel Mix was unable to find the app.css file referenced in the horizon index.

I tried to republish the assets using php artisan `horizon:install` but since I had already published these files nothing was overwritten as this is the default behaviour for `vendor:publish`

I was able to correct the problem by checking the `Console/InstallCommand

[2019-02-28 20:18] #530 closed

[2019-02-28 20:18] driesvints commented on #533
`php artisan vendor:publish --tag=horizon-assets --force` is the way to go.

[2019-02-28 20:18] #533 closed

[2019-02-28 20:28] driesvints commented on #456
Will be fixed in the next major release.

[2019-02-28 20:28] #456 closed

[2019-02-28 22:33] michaelnguyen547 opened #534 "unable to local Mix file: /app.css"
Laravel 5.7.20
Horizon 3.0.0

After installing Horizon 3.0.0, i ran `php artisan horizon:install`

start horizon by `php artisan horizon` and go to `http://localhost/horizon/dashboard`, I got Error Exception, Unable to local Mix fie: /app.css (View:..../vendor/laravel/horizon/resources/views/layout.blade.php)

[2019-02-28 23:13] browner12 commented on #533
you can also use the Horizon specific command `php artisan horizon:assets`, which calls exactly what @driesvints is suggesting.

I have this Artisan command as part of my deploy process.

[2019-02-28 23:15] browner12 commented on #534
`php artisan horizon:install` publishes assets without 'force' flag, which is why your assets are not being overwritten.

use the `php artisan horizon:assets` command instead.

[2019-03-01 01:42] danielfaulknor commented on #510
Hello. Thanks for the response!
The current workload card goes away completely when there are jobs. It's there when there are none.
This is what it looks like with no jobs - https://imgur.com/NEikrJ1
Then as soon as I submit jobs - https://imgur.com/jwAd0vF
I can see from the logs and also the JSON response from the AJAX queries that there are many hundreds of jobs in the queues.

Also with manual

[2019-03-01 08:42] king724 commented on #525
I wonder if it would be appropriate for an "Upgrade Guide" to be added to the docs for each of the officially supported modules?

[2019-03-01 08:43] king724 commented on #534
I had the same issue.

See https://github.com/laravel/horizon/issues/525#issuecomment-467952910

[2019-03-01 12:00] #534 closed

[2019-03-02 17:55] vesper8 opened #536 "more information on status, retries, planned exection datetime, would be lovely"
I am having issues with jobs being queued and then just ignored.. they remain with the orange status icon indefinitely, while new jobs of the same type will get executed and become green

the ones that remain orange, I have no idea why, there is no error, they do not end up in the failed job section. These are short running jobs that should take no longer than 2 or 3 seconds to execute.

I would l

[2019-03-04 14:15] driesvints commented on #510
Can you link to the Laracasts forum post?

[2019-03-04 14:16] driesvints commented on #536
I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets. Thanks!

[2019-03-04 19:26] danielfaulknor commented on #510
https://laracasts.com/discuss/channels/laravel/horizon-dashboard-issue-with-current-workload

[2019-03-04 20:05] vesper8 commented on #536
i ended up resolving my issue. i was doing thing in the constructor that were not meant to be there and needed to be moved to the handle method. i had not realized that the constructor gets called as soon as a job is queued as opposed to only once it is "handled"

in any case this is more of a feature request than dealing with a specific issue. It would be nice to. For example the tries/retries, i

[2019-03-05 10:58] olavski opened #538 "Display `artisan horizon` command description in artisan list"
It is not clear from running `php artisan` that the command `php artisan horizon` is available and that it will start all of your configured workers.

The list shows description for sub-commands such as `horizon:continue` but it does not explain what `horizon` itself does.

At the moment you have to check the Horizon documentation website to find that out, but it would be good to show this in the

[2019-03-05 11:00] driesvints commented on #538
Hmm, you're correct. We might want to change this.

[2019-03-05 11:01] driesvints commented on #538
Or we could look at supporting commands without a `:` notation in the framework itself.

[2019-03-05 13:29] olavski commented on #538
Sorry if this is a bit off topic.

With Horizon, Nova, Spark, Scout and other packages the artisan list gets very long.
My app's artisan list has almost 200 commands now, so it would also be good have an option to only show my own commands from App/Console/Comands.

[2019-03-05 13:40] driesvints commented on #538
@olavski you can do that with the list command: `php artisan list horizon`

[2019-03-05 14:17] ragingdave commented on #388
So v3 is SO much better but I feel like there could still be improvement for batch jobs. Here is an example of a normally occurring batch job and how the tag display ends up looking (again way better in v3 but still):

![screen shot 2019-03-05 at 9 16 50 am](https://user-images.githubusercontent.com/1168344/53811444-6f97bb00-3f27-11e9-8efd-59480d42c5cd.png)

And there are more tags than in that sc

[2019-03-05 14:43] olavski commented on #538
@driesvints Ok, I meant more the reverse of that, so list everything apart from Nova,Spark,Horizon and default Laravel commands, so only show the commands I have built that are specific for this app.

But don't worry about it for now, this is getting a bit off topic. I'll see if I can create a package to do this instead.

Thanks! :)

[2019-03-05 17:12] hubertnnn opened #540 "Missing latest job in recent jobs list"
Version: 3.0.2

After resetting my redis I found that one of jobs is missing.
After digging deeper I found that recent jobs always lacks the newest job.
Reason seem to be incorrect parameter in api call `/horizon/api/jobs/recent?starting_at=0&limit=50`.
After changing statring_at to -1 (default value in controller) I am getting all jobs.

[2019-03-05 18:10] jonnywilliamson commented on #526
Thanks! This was done before I got back from my trip. Much appreciated.

[2019-03-05 18:10] #526 closed

[2019-03-05 19:02] browner12 commented on #540
I am getting the same issue.

[2019-03-05 19:07] browner12 commented on #540
https://github.com/laravel/horizon/blob/3.0/resources/js/screens/recentJobs/index.vue

[2019-03-06 00:06] SavageDan commented on #170
Why not use exec("kill -9 $pid"), which is available natively and can be switched out with the relevant windows kill command, depending on context? This would come with the added benefit that process workers need to be owned by the www user. Or am I missing something?

[2019-03-06 08:00] themsaid commented on #540
Thanks.

I've fixed that in v3.0.3.

https://github.com/laravel/horizon/commit/1ab57492f66014849b51364315c875b7f76bb435

[2019-03-07 08:09] tahmasebi opened #544 "the last job is not displayed in Recent Jobs"
In "recent jobs" page, the last job is not displayed. always one last job is missing.

Horizon version: 3.0.3
Laravel version: 5.8.3

[2019-03-07 09:44] themsaid commented on #544
Make sure you re-publish the assets.

[code]

[2019-03-07 09:44] #544 closed

[2019-03-07 09:54] ultrono commented on #440
In case anyone lands here from Google I just ran into this exact situation on my staging server.

This is because the default config file (see [here](https://github.com/laravel/horizon/blob/3.0/config/horizon.php#L128-L147)) only includes the local and production environments. If you use anything other than local or production, you need to add a new key.

[2019-03-07 18:39] asivaneswaran opened #546 "Horizon nigh mode not working on prod"
Laravel Version: 5.8.3
PHP Version: 7.3.0
Composer Version: 1.8.3
Horizon Version: 3.0.3
Description:

I have an issue running night mode on prod. It works fine on my local but not on prod. I ran `php artisan horizon:assets` on my prod server but it didn't help.

Thanks,

[2019-03-07 20:13] browner12 commented on #546
You're going to have to explain a little more if you want help debugging this. What does your `HorizonServiceProvider` look like?  Try running a hard refresh, there could be caching issues.

Also, as a side note, your Composer is pretty far behind, would recommend updating that to the latest version.

[2019-03-07 20:18] asivaneswaran commented on #546
Hi,

So yeah, I activated the `Horizon::night();` in the ServiceProvider. I hard refreshed, cleared the cache... I am not sure if I missed a step. Here is what I did:

1- Update composer.json
2- Republish the assets
3- Activate the night mode

I am not sure if I missed something on prod?

Also, I edited the correct version of composer.

[2019-03-08 11:55] driesvints commented on #546
Copy/paste your service provider please.

[2019-03-08 13:10] asivaneswaran commented on #546
[code]

[2019-03-08 13:17] driesvints commented on #546
I can get the night mode to display correctly. I'm not really sure what's going wrong on your production environment. Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com)
-

[2019-03-08 13:17] #546 closed

[2019-03-08 14:44] driesvints commented on #468
A new command for this was merged. Will be tagged soon.

[2019-03-08 14:44] #468 closed

[2019-03-08 15:14] fgilio commented on #468
Nice! Thx

On Fri, Mar 8, 2019, 11:44 Dries Vints <notifications@github.com> wrote:

[2019-03-08 16:04] ohnotnow commented on #468
Wow - thank you! :-D A+++ package developer - would composer require again :-D

[2019-03-08 19:25] loic-lopez commented on #468
Thanks you so much all! you have helped us, thanks to this command you helped me and my team of eight students for their graduation project!

[2019-03-08 20:59] Jokerwin commented on #533
Thanks, I was upgrading `v2` to `v3` and I found the same problem.

[2019-03-11 12:03] oluomotoso opened #548 "Horizon creates too many php processes"
I use Horizon 2.0 with Laravel 5.7. I notice horizon has too many php processes. This end up crashing the server. I need help on this please, I've been debugging this for more than 7 days and it's driving me nut

[2019-03-11 12:04] driesvints commented on #548
Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [Larachat](https://larachat.co)
- [IRC](https://webchat.freenode.ne

[2019-03-11 12:04] #548 closed

[2019-03-11 12:06] oluomotoso commented on #548
I've posted more than 3 times on Laracat without any reply

[2019-03-11 13:09] driesvints commented on #548
Please link to these threads

[2019-03-12 17:22] ARKKYN commented on #540
@themsaid not fixed

[2019-03-13 12:18] driesvints commented on #540
@ARKKYN did you re-publish the assets with `php artisan horizon:assets` ?

[2019-03-17 05:13] rrolla commented on #279
I have conflicts when two envoirments run `php artisan horizon` on same server.
Solution:

add options array with prefix key

in config/database.php

[code]
For example for staging env add to `.env`
[code]

More information: https://stackoverflow.com/a/50354984

[2019-03-17 08:49] halaei opened #549 "Setting supervisor niceness"
I was thinking of sending a PR to set process niceness on each supervisor via config:
[code]
Then in supervisor doing this:
[code]
Do you think horizon's config is a good place to set process niceness? Or instead just calling proc_nice() in the jobs. Please note that niceness can only be increased in a process (unless maybe the process is run by the root user).

[2019-03-18 08:21] ARKKYN commented on #540
@driesvints Did that but no luck

[2019-03-18 09:51] driesvints commented on #549
Can you maybe give some background info on what this does and how it will benefit users?

[2019-03-18 09:51] themsaid commented on #540
@browner12 @hubertnnn can you confirm or deny the issue is fixed?

[2019-03-18 10:56] halaei commented on #549
In cases of high server load, when CPU usage is 100%, setting proc_nice can help OS to prioritize other processes that needs to be near-real time, e.g. PHP processes that handle web requests or maybe redis and mysql servers.

The benefit can be for example users won't experience lag in site just because some workers are processing some audio files, that are fine to be processes a few second or eve

[2019-03-18 11:53] driesvints commented on #549
Pinging @taylorotwell to see if we might get this into Horizon.

[2019-03-18 11:54] hubertnnn commented on #540
For me it was fixed.
Recent jobs contain job that I just dispatched. (bug I found is fixed)
Also checked failed jobs to confirm if that one is ok and it is.
Also checked monitored tags (I never used them before) and seem to also work fine.

[2019-03-18 14:20] browner12 commented on #540
I believe it was working for me in 3.0.3, but now I'm on 3.0.5 and it appears to be broken again. I will dig in a little more and see what I can find.

[2019-03-18 15:02] driesvints commented on #540
@ARKKYN since this issue was fixed for other and not you I suggest you first try to re-install horizon completely to resolve the issue. Can you try that and report back? Make sure you remove any assets, vendor dir, etc.

[2019-03-18 16:07] driesvints commented on #549
@halaei you can send in a PR if you want :)

[2019-03-19 09:52] halaei commented on #549
OK thanks. I have issues with backward compatibility, because I can't get away from adding parameter to `SupervisorOptions::__construct()`

[2019-03-19 09:56] driesvints commented on #549
If you need to make breaking changes you can send to master

[2019-03-20 07:40] f3cp commented on #486
It its any help, I found that when there were 8 extra processes it would allocate them correctly to my queues on load.

E.g. When I set 14 queues and 22 processes (8 extra processes), 22 processes would be started with 1 process for each queue plus an additional process for the first 8 queues. While if I set 21 or 23 processes (7 or 9 extra processes), for some reason it would only start up 14 pro

[2019-03-20 22:31] tomswinkels opened #552 "[3.0.5] Undefined index: connection"
Error when i was restart supervisor.

`Undefined index: connection`

<img width="683" alt="image" src="https://user-images.githubusercontent.com/9036151/54723474-f4114d00-4b67-11e9-8887-b9fd801ab0e1.png">

[2019-03-20 22:34] tomswinkels commented on #552
Whoops i was missing some array "production" in my horizon.php configuration file.

[2019-03-21 02:58] jasperf opened #553 "Horizon Not loading Configuration"
We have set up a Forge daemon to run Horizon with user forge, directory `/home/forge/staging.site.com/current` and command` php artisan horizon`. In the Horizon Dashboard it does show it as active and under MAX RUNTIME and MAX THROUGHPUT default is shown. It does however not show the supervisor we set up in the config/horizon.php file:
[code]
 It does not even show the supervisor/daemon we set up

[2019-03-21 04:25] jasperf commented on #553
It was the wrong `APP_ENV`. Never mind

[2019-03-21 04:25] #553 closed

[2019-03-21 11:21] MannikJ commented on #525
Finally found this one to solve the exact same problem after upgrading horizon. I already started copying the assets to public directory myself via laravel mix.
Shouldn't `php artisan horizon:install` already ensure all assets are in the right places? At the very least there should be a note in the docs that you might need to force publish the assets when upgrading.

[2019-03-21 12:21] driesvints commented on #552
No problem. Please always close your issue if you find a solution.

[2019-03-21 12:21] #552 closed

[2019-03-21 12:22] driesvints commented on #525
@MannikJ technically it should be possible to run the command with a post-composer hook. I'll create an issue for it and try to pick it up if I find time.

[2019-03-21 12:25] driesvints opened #554 "Publish assets with Composer hook"
We're currently getting a lot of issues where people forgot to update their Horizon assets. Technically it should be possible for us to implement a Composer hook in the `composer.json` command that runs `php artisan horizon:assets` so updated assets get published.

[2019-03-21 12:31] drbyte commented on #554
It may be similarly prudent to specifically mention appropriate upgrade steps in the docs at
https://laravel.com/docs/5.8/horizon#installation

[2019-03-21 12:39] driesvints commented on #554
@drbyte I was thinking to do that first but if we can automate this then this is unnecessary.

[2019-03-21 12:43] drbyte commented on #554
True, but docs also help with troubleshooting when automation goes awry. :)

[2019-03-21 12:47] driesvints commented on #554
Yeah, true. You can send in a PR if you want :)

[2019-03-21 13:25] drbyte commented on #554
Done

[2019-03-21 18:13] francislavoie commented on #549
@driesvints this can be closed now, can't it? The PR's been merged.

[2019-03-21 18:31] halaei commented on #549
Yes

[2019-03-21 18:31] #549 closed

[2019-03-22 21:25] barryvdh commented on #421
So is this something that would be considered? Should I look into a PR?

[2019-03-22 21:41] driesvints commented on #421
@barryvdh I'll take this up with @taylorotwell on Monday when he's back from vacation and we'll get back to you 👍

[2019-03-25 10:42] halaei opened #555 "The --nice option does not exist."
Regarding my last PR, it introduced a bug. a --nice option is passing to horizon:work command, which breaks it. I can fix it by adding a --nice option to work command or figuring it out how to not pass such argument.

[2019-03-25 11:20] alexbowers commented on #538
@olavski Perhaps put an issue on https://github.com/laravel/ideas for a `--simple` output showing only the core things you care about (App namespaced stuff)

[2019-03-25 11:22] web64 commented on #538
@alexbowers Thanks for the suggestion. I'll do that!

[2019-03-25 11:24] olavski commented on #538
@alexbowers Thanks for the suggestion. I'll do that!

[2019-03-25 11:32] alexbowers commented on #538
@driesvints This can be closed :)

[2019-03-25 12:04] #538 closed

[2019-03-25 17:42] #555 closed

[2019-03-25 23:54] BinotaLIU opened #557 "Horizon doesn't auto restart supervisor when configured multiple supervisors"
- Horizon Version: v3.0.6
- Laravel Version: v5.8.7
- PHP Version: v7.3.3
- Database Driver & Version:

### Description:

I have configured multiple supervisors in `config/horizon.php`. I have recently noticed that some times one of the supervisor might died and the other supervisors are still running.
I am using supervisord to monitor the master process. Since the master process is still running,

[2019-03-26 07:17] mfn commented on #557
Why did it dies/was it killed in the first place?

[2019-03-26 10:30] driesvints commented on #557
Yeah, the main question that comes to mind is the same as @mfn. What caused it to be killed? If on purpose: what is the main reasoning behind that?

[2019-03-26 15:54] driesvints commented on #421
@barryvdh atm we're a bit concerned that a DB driver would get deadlocks under high load. Is there any chance you can provide this as a package?

[2019-03-26 16:07] barryvdh commented on #421
I'll look into it. An alternative would be to make sure the Redis version is as easily extendable with filtering etc, but that's hard with Lua script (for me)

I haven't encountered any deadlocks, been running since october. But I'm only running 1 queue with 1 worker on Mysql, rest is on Redis.

[2019-03-28 08:49] jasperf commented on #120
I hit this thread looking up information on how Forge sets up Redis normally storage wise. Does it use RDB or AOF, does it do custom x no of snapshots. Ran into missing failed queue error not being able to add to table failed jobs as it was missing and wondered why Redis could not be used. If it is all ephemeral then I understand. If not, why use MySQL tablet to store failed jobs and not Redis whe

[2019-03-28 16:51] RicardoRamirezR opened #559 "Failed job second page does not remove refresh icon on success"
- Horizon Version: v3.1.0
- Laravel Version: v5.8.8
- PHP Version: 7.3.3
- Database Driver & Version: MariaDB 10.3.8

### Description:

In Failed Jobs, there is a refresh icon for each failed job. Click on it will retry the failed job and on success the icon is removed.

This works as expected on the first page but not on the second and the rests of the pages.

### Steps To Reproduce:

In this gif

[2019-03-28 17:33] driesvints commented on #559
@themsaid

[2019-03-28 17:47] themsaid commented on #559
fixed in https://github.com/laravel/horizon/commit/7d282723792f3dd6d058b8d7b87a18350635c029

Thanks 👍🏼

[2019-03-28 17:47] #559 closed

[2019-03-28 17:47] driesvints commented on #559
Will be released next Tuesday.

[2019-03-28 18:06] driesvints commented on #465
@xyrintech are you still experiencing this problem?

[2019-03-28 18:25] driesvints commented on #517
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-03-28 18:25] #517 closed

[2019-03-28 18:38] driesvints commented on #540
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-03-28 18:38] #540 closed

[2019-03-29 17:09] ryantbrown commented on #470
@driesvints we are running into the same (or similar) issue when trying to scale horizon by running specific queues on specific servers. We use Envoyer for deployment so the `.env` is the same for all servers, as it should be (hacking the environment is not a good solution).

It seems to me that there is a simple fix, allowing the `horizon` command to accept an optional configuration. On line 49 o

[2019-03-29 18:09] danetzer opened #560 "Bogus failed job causes dupe job retry"
- Horizon Version: 2.2
- Laravel Version: 5.5
- PHP Version: 7.2.16
- Database Driver & Version: MySQL 5.6

### Description:

Getting intermittent falsely reported failed jobs which results in duplicate jobs when they are retried. The time out is ~ 30 seconds and retry time is like 1000 seconds out.

### Steps To Reproduce:

hard to reproduce only happens randomly a few times a week.

[2019-03-30 06:35] BinotaLIU commented on #557
I'm still figuring out the reason why it dies. It seems like there is no any logs when it happened.
It happened when the process keep runs for 2 or 3 days.

[2019-03-30 16:12] danetzer commented on #560
FYI the runtime of the jobs are ~ .1 seconds which is another reason why this is puzzling. So not seeing a chance of their being conflict between timeout and retry values.

[2019-04-01 08:22] setkyar commented on #560
@danetzer I think you should describe how you are using the jobs with the code simple. I also face that kind of problem and it was because of the code for my case.

[2019-04-01 09:49] driesvints commented on #560
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-01 09:49] #560 closed

[2019-04-01 11:43] driesvints commented on #470
@tomswinkels @ibrunotome would the solution from @ryantbrown also work for you?

[2019-04-01 11:52] tomswinkels commented on #470
Yeah, i think it is a good solution.

[2019-04-02 05:36] dharmendrakumartiwari opened #561 "A queued job has been attempted too many times. The job may have previously timed out"
- Horizon Version: #.#.#
- Laravel Version: #.#.#
- PHP Version: #.#.#
- Database Driver & Version:

### Description:

### Steps To Reproduce:

[2019-04-02 05:37] dharmendrakumartiwari commented on #561
in laravel :- A queued job has been attempted too many times. The job may have previously timed out

[2019-04-02 05:37] dharmendrakumartiwari commented on #561
error show in laravel A queued job has been attempted too many times. The job may have previously timed out

[2019-04-02 12:59] driesvints commented on #561
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-04-02 12:59] #561 closed

[2019-04-02 14:05] driesvints commented on #557
Feel free to reply once you've figured it out.

[2019-04-02 14:05] #557 closed

[2019-04-02 14:06] driesvints commented on #304
Is this still a problem with the latest version?

[2019-04-02 14:07] driesvints commented on #465
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-04-02 14:07] #465 closed

[2019-04-02 14:08] driesvints commented on #421
@barryvdh I believe for this to be done we'd need testing on a high load server with multiple processes and supervisors to make sure that we don't run into scaling issues. If you can do that and reply with the results we might consider this further. Feel free to reply once you have some testing done :)

[2019-04-02 14:08] #421 closed

[2019-04-02 14:10] driesvints commented on #342
Talked this over with Taylor a bit but for now we aren't considering expanding on adding this to Horizon.

[2019-04-02 14:10] #342 closed

[2019-04-02 14:45] josegus commented on #415
This should be open, start all in a new server sometimes is not an option.

[2019-04-02 20:02] xyrintech opened #562 "Queued At Time zone issue"
- Horizon Version: 3.1
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: Redis, Postgresql 11

### Description:
Queued At is not considering the local browser time instead showing the date in some other time zone. The previous versions seems to be local browser time.

[2019-04-02 20:29] driesvints commented on #521
I've looked at this but have a few questions. Normally, `HttpException` aren't reported. Can you copy/paste your exception handler class? Can you also tell me which horizon and laravel version you're using?

[2019-04-02 20:31] driesvints commented on #521
This is simply the current way Horizon re-polls for new results. You could argue that a system could be implemented to show an "unauthenticated" error instead perhaps. This might be a good feature. Can you create a separate issue for this?

[2019-04-03 13:02] windows1087 opened #563 "Gate in production does not work (403)"
I'm using Laravel 5.7 with Horizon.

It works in `local`, but if i set `production` in my .env file on our server, it gives me the 403 status code.

This is my service provider:

[code]

Do i need to register this gate somewhere? I'm logged in as a user on my application.

[2019-04-03 15:51] sergiq commented on #315
Maybe this is closed but since I have horizon, time to time job is processed by the same job at the same time. Also I know that a screenshot it's not an evidence but I can reproduce it (only appear time to time)
![image](https://user-images.githubusercontent.com/1035477/55493350-12cc1500-5639-11e9-9da0-b8e2574a4d93.png)

I have 2 backends with 1 worker each listening the same queue

[2019-04-03 16:50] halaei commented on #315
@dpde @sergiq Are the followings helpful:

1. Make sure different applications that are supposed to be isolated doesn't share the same redis database.
2. There is a chance that a job takes longer than config('queue.connections.redis.retry_after') seconds and get retried by another worker.
3. [If you have multiple physical servers] The servers must be synced in time, e.g via NTP. Otherwise, jobs re

[2019-04-03 20:08] xyrintech opened #564 "Sleep function and timeout issue"
- Horizon Version: 3.1
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: Redis

### Description:
1) First of all, timeout inside the job file is not killing the worker.
2) Using the sleep function inside the job freeze the worker and nothing happens.

[code]

horizon config:
[code]

Log:
[2019-04-03 19:53:25] local.INFO: before sleep

![Screenshot 2019-04-04 at 1 38 27 AM](htt

[2019-04-03 20:38] #564 closed

[2019-04-03 21:29] sergiq commented on #315
thanks @halaei for your answer, but:

1. there is only one database with one app
2. the job is processed at the same time (i had both timestamps when the job starts and both are the same second)
3. both servers has NTP ofc
4. No, the job event only throw one log (one job)
5. Yes, i know it.

Also never happened with the normal laravel workers (maybe in more than 1 year).

[2019-04-04 07:23] halaei commented on #315
@sergiq Can you explain your screenshot? What are the rows and columns and how does it show jobs are picked twice?

[2019-04-04 08:28] sergiq commented on #315
The screenshot is small part of a job information (uuid). this picture shows when the job is executed (the first field is just an auto increment and the last one is who performs the action).

[2019-04-04 10:55] halaei commented on #315
Horizon redis queue driver is just a wrapper for laravle redis queue driver that actually doesn't touch queues but fire some events for monitoring. It also changes the job IDs to incrementing integers. I don't see how possibly these changes can cause jobs being handled twice. To me the screenshot doesn't reject 2 jobs being simultaneously handled by 2 workers. It would be a lot helpful if you coul

[2019-04-04 11:18] sergiq commented on #315
Hi @halaei thanks for your response :) As I mentioned, a team gonna set up the same environment in dev as we have in production and try to detect when and why. I changed this morning the workers in production to use the laravel's one and everything is working ok (but it's to early to assume it). Let's see if have the same behavior that have in the last year with 0 duplicateds

[2019-04-04 11:23] elhajouji5 opened #565 "All routes return 404 codeStatus"
- Horizon Version: 2.0
- Laravel Version: 5.5.*
- PHP Version: 7.2
- APP_ENV: staging

### Description
Hello everyone hope you're doing well,
I've installed laravel/horizon locally everything worked like a charm.<br>
I followed up the same instructions to deploy it on my staging server but it didn't work as expected.<br>
All of the routes return correct data with statusCode 404, which make the vie

[2019-04-04 13:58] driesvints commented on #565
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-04 13:58] #565 closed

[2019-04-04 13:58] driesvints commented on #563
Can you please fill out the issue template?

[2019-04-04 14:01] driesvints commented on #562
Have you used `php artisan horizon:assets` as said in https://laravel.com/docs/5.8/horizon#upgrading to update the front-end assets?

[2019-04-04 15:22] elhajouji5 commented on #565
@driesvints Thanks for your reply, when I try to install the last version of Horizon with laravel 5.5 I get this error
<img width="2048" alt="Screen Shot 2019-04-04 at 16 20 49" src="https://user-images.githubusercontent.com/32602971/55567583-e1654f00-56f5-11e9-99b8-1bcfd6cf185c.png">

[2019-04-04 15:25] driesvints commented on #565
We don't support 5.5 anymore. Please upgrade to 5.8

[2019-04-04 15:38] elhajouji5 commented on #565
Thanks for the help you provided, I'll upgrade to 5.8 ASAP

[2019-04-04 19:32] driesvints commented on #304
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-04-04 20:48] driesvints commented on #486
What I can make out from the test below is that the autoscaler attempts to correctly scale the processes on multiple iterations. So I'm left wondering: does in your situations the problem also occurs after a bit of time has passed or only at the initial start?

https://github.com/laravel/horizon/blob/62ba971c2b180fe54dd3e0cde418c7181a481460/tests/Feature/AutoScalerTest.php#L16-L43

[2019-04-04 21:59] michaelnguyen547 commented on #486
@driesvints the problem occurs at the beginning. The number of processes does not change/update unless I update the config file and restart Horizon.

[2019-04-05 05:29] xyrintech commented on #562
I did use this - php artisan horizon:assets but the issue is still there. I believe its taking the timezone from app.php rather than local (browser) time. I tried changing the timezone in app.php from UTC to Los Angeles time and horizon starts showing up the time in Los Angeles time. Before this version the horizon always have been timezone in local time.

There is an another issue with this, when

[2019-04-05 05:38] xyrintech opened #566 "Job freezed"
- Horizon Version: 3.1
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: Redis, Postgresql 11

### Description:
The issue is with the horizon queue worker freezing the job.

### Steps To Reproduce:
I will try to explain with my issue I getting:
1) Created a job FetchAmazonOrdersBackward

[code]

horizon.php
[code]

queue.php
[code]
Its 10:00 PM Los angeles time when I a postin

[2019-04-05 12:11] xyrintech opened #567 "I dont want to retry job"
First of all, thank you so much for creating this package.
I am have been trying to figure an option with this package and realised that  there is nothing no retry option available in this package.

Lets say if we need to fail a job and simply do no want "retry" then there need to have an option for this. Such situation are important when we need to have something from third party server.

[2019-04-05 15:14] browner12 commented on #567
Are you proposing removing the "Retry" button from the failed jobs list? Some people definitely use that, so I don't think we can remove it.

You can define a `$tries` property on your job and set it to 1, so it is only tried once.

[2019-04-05 16:49] xyrintech commented on #567
I agree retry button is very important.
Setting the `$tries = 1;` solve but at the same time its very confusion to understand the log. Lemme give you an example. I created a job as below and my `$retry_after` is set to 60 in queue.php. Now, ideally job failed immediately after 1 second due to timeout but at the same it waits for another 60 seconds to to call failed function (I believe its due to r

[2019-04-05 17:29] browner12 commented on #567
Have you identified an actual bug in Horizon? To me this sounds like a userland issue, and I would suggest moving this question over to StackOverflow, unless you can dig into the code and find something.

[2019-04-05 18:36] xyrintech commented on #567
Actually its a bug, this the actual Horizon log.
Earlier I thought that this a figure but after reviewing your comments I figured out that this is a bug.

Think of like this:
`$retry_after = 60` (presumption)
If a job needs to be executed once i.e. `$tries = 1 `and say it takes 5 seconds to execute but during its execution it fails. Now you would expect the `failed()` function to be called immedia

[2019-04-05 20:29] ryantbrown commented on #470
@tomswinkels This issue is for running specific queues on specific servers, failover is a separate issue that should be handled at the infrastructure level.

[2019-04-06 09:46] djtarazona commented on #566
I think I understand what @xyrintech is saying. I may be wrong, but my understanding is that if a job exceeds the timeout, the worker processing that job will be killed **without marking the job as failed** if it is configured to only attempt once (tries = 1). Since the worker is [abruptly](https://github.com/laravel/framework/blob/abefa7b2f3101f8070c79f67d3d7e0944d5ef173/src/Illuminate/Queue/Work

[2019-04-06 09:49] djtarazona commented on #567
I think I understand what @xyrintech is saying. I may be wrong, but my understanding is that if a job exceeds the timeout, the worker processing that job will be killed **without marking the job as failed** even if the job has reached its maximum number of attempts. Since the worker is [abruptly](https://github.com/laravel/framework/blob/abefa7b2f3101f8070c79f67d3d7e0944d5ef173/src/Illuminate/Queu

[2019-04-06 09:51] djtarazona commented on #566
I think this is related to the behavior we are discussing in #567 where the job timed out but hasn't been marked as failed yet.

[2019-04-07 08:56] xyrintech commented on #566
Yes.

[2019-04-07 08:57] #566 closed

[2019-04-07 09:01] xyrintech commented on #567
You understanding is 100% correct. I can definitely try this code, one quick question. Which file / location will be the best place to try this function?

[2019-04-08 06:54] xyrintech opened #568 "Call to undefined method Illuminate\Queue\RedisQueue::readyNow()"
- Horizon Version: 3.1
- Laravel Version: 5.8
- PHP Version: 7.3
- Database Driver & Version: redis

### Description:
Getting this error on horizon - Call to undefined method Illuminate\Queue\RedisQueue::readyNow()
No stats, queues etc. nothing is displayed and same error is thrown for every API call.

[2019-04-08 07:21] xyrintech commented on #25
This issue is there in Laravel 5.8 too

[2019-04-08 08:03] xyrintech commented on #568
This problem occurs when the code simply pulled on previous laravel version.
However if we setup the new code without pulling the code on previous one then this is good.
I believe the issue has only been at configuration side.

[2019-04-08 08:17] xyrintech commented on #568
Noted a very strange behaviour, the same occurs again when I restarted the droplet is restarted.

[2019-04-08 08:23] driesvints commented on #568
What do you mean by this?

Do you properly restart horizon after a deploy?

[2019-04-08 08:23] xyrintech commented on #568
I mean restarted the server.

[2019-04-08 08:24] xyrintech commented on #568
Horizon log says that queues are processing but nothing shows up on horizon dashboard

[2019-04-08 08:28] xyrintech commented on #568
I am using supervisor and restarted supervisor and also did php artisan queue:restart
But the same issue. The jobs in the background are executing fine but nothing shows up on dashboard.

[2019-04-08 08:38] xyrintech commented on #568
I mean when simply pulling the files from git.

but as I mean later messages the issue is still there.

[2019-04-08 09:00] OleksandrVladymyrov opened #569 "Is it possible to enhance Horizon to work with Beanstalkd queues server?"
Hi,
First of all, thank you for the great package.

Is it possible to enhance Horizon to work with Beanstalkd queues server?
Maybe you use some features which don't support by Beanstalkd.

Thank you in advance.

[2019-04-08 09:32] bonzai commented on #569
#100

[2019-04-08 09:40] OleksandrVladymyrov commented on #569
1.5 years have passed. Plans could change.

[2019-04-08 10:48] xyrintech commented on #568
[code]

[2019-04-08 11:02] xyrintech opened #571 "Runtime shows 1554712872.58s"
- Horizon Version: 3.1
- Laravel Version: 5.8
- PHP Version: 7.3
- Redis Driver & Version: "predis/predis": "^1.1" and Redis server v=5.0.3
- Database Driver & Version: Postgresql 11

### Description:
Getting runtime as 1554712872.58s (huge numbers)

[2019-04-08 11:04] driesvints commented on #571
Please provide a screenshot of the problem.

[2019-04-08 11:09] xyrintech commented on #571
![Screenshot 2019-04-08 at 4 38 41 PM](https://user-images.githubusercontent.com/7784136/55719827-d0318080-5a1c-11e9-81d6-8cc77a7038fc.png)
Attached

[2019-04-08 11:10] driesvints commented on #562
Server time has always been used for Horizon and I believe we won't change that any time soon.

Please create a separate issue for this.

[2019-04-08 11:10] #562 closed

[2019-04-08 11:12] driesvints commented on #571
Can you provide the payloads of the requests made with the Horizon API to retrieve the data? Use the network tab in your console to do this.

[2019-04-08 11:12] xyrintech commented on #571
There seems to be many issues with 3.1 version horizon. I have been using 1.4 before and never had any issues but since I have upgraded to 3.1 there are many issues.

[2019-04-08 11:13] xyrintech commented on #571
<link>/horizon/api/jobs/failed?starting_at=0

[2019-04-08 11:15] xyrintech commented on #571
Is that you need or need headers too?

[2019-04-08 11:16] driesvints commented on #571
I need the payload from the preview tab.

[2019-04-08 11:18] driesvints commented on #569
We don't have any plans to move beyond Redis atm.

[2019-04-08 11:18] #569 closed

[2019-04-08 11:18] driesvints commented on #568
Hey there,

Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [

[2019-04-08 11:18] #568 closed

[2019-04-08 11:20] xyrintech commented on #571
` {"jobs":[{"id":"Vzv5r0Z8Pfwz7d0KoPVykd3KyIsRMTJZ","connection":"redis","queue":"low","name":"App\\Jobs\\ImportAdvertisingKeywordReport","status":"failed","payload":{"website_id":2,"timeout":1800,"id":"Vzv5r0Z8Pfwz7d0KoPVykd3KyIsRMTJZ","data":{"command":"O:39:\"App\\Jobs\\ImportAdvertisingKeywordReport\":12:{s:13:\"\u0000*\u0000website_id\";i:2;s:12:\"\u0000*\u0000report_id\";i:43423;s:13:\"\u000

[2019-04-08 11:21] xyrintech commented on #571
Hope this helps now.

[2019-04-08 11:32] driesvints commented on #571
`reserved_at` seems to be empty everywhere. We'll need to figure out why this is.

[2019-04-08 11:32] xyrintech commented on #568
Though I tried but if you still insist then I can try again

[2019-04-08 12:38] OleksandrVladymyrov commented on #569
@driesvints Did you use any specific features that  Beanstalkd don't support.

[2019-04-08 12:39] driesvints commented on #569
@OleksandrVladymyrov I don't know too much about Beanstalkd to answer that question.

[2019-04-08 12:46] OleksandrVladymyrov commented on #569
@driesvints Maybe someone another can answer my question.

[2019-04-08 14:21] robtesch commented on #122
Extending @kharysharpe's answer a bit, the below snippet will also respect your horizon config's custom prefix (if you have one).

`
Redis::connection()->del([config('horizon.prefix').'failed:*']);
Redis::connection()->del([config('horizon.prefix').'failed_jobs']);
`

I've wrapped all this up into an artisan command "horizon:flush" which calls the queue:flush first:

`
    public function handle()

[2019-04-08 15:34] wokes commented on #563
You have to register Horizon's service provider.
In `config/app.php`:

[code]

[2019-04-08 15:35] driesvints commented on #563
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-04-08 15:35] #563 closed

[2019-04-09 18:32] xyrintech commented on #568
There is definitely an issue with this - Call to undefined method Illuminate\Queue\RedisQueue::readyNow()
I mean the same code works and when I restart the supervisor after like few hours then this stopped working.

[2019-04-09 19:06] xyrintech commented on #568
I have been observing this from last 2 days.

I have been getting a very strange issue. When I deploy code and start horizon first time, this works completely fine but the time I restart the horizon (supervisor stop and start) then the I get the issue on Horizon Stats, Recent Jobs etc. everywhere.

Call to undefined method Illuminate\Queue\RedisQueue::readyNow() {"exception":"[object] (Symfony\Com

[2019-04-09 19:10] driesvints commented on #568
@xyrintech can you please try a few support channels first?

[2019-04-10 00:55] djtarazona commented on #567
Well, Horizon is using the Laravel framework's queue for this logic, so you'd probably need to make this change above this line.

https://github.com/laravel/framework/blob/0fa42e3479341c99d9748e47be889fd8db99e034/src/Illuminate/Queue/Worker.php#L143

[2019-04-10 01:12] cg-rsands opened #572 "Console output not working for jobs"
- Horizon Version: 1.4
- Laravel Version: 5.8
- PHP Version: 7.3
- Redis Driver & Version: phpredis

### Description:
Previously when using 5.6 it use to output:

Processing:......
Processed:....

However now after upgrading to laravel 5.8 horizon says started, processes the jobs but has no output for the jobs it is processing

[2019-04-11 11:08] driesvints commented on #572
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-11 11:08] #572 closed

[2019-04-11 11:49] HPWebdeveloper opened #573 "Any change in notification needs to horizon restart"
Hello,

- Horizon Version: ^2.2
- Laravel Version: 5.7.*
- PHP Version: 7.1.25
- Redis Driver & Version: predis/phpredis 4.0.6
- Database Driver & Version: mysql 5.7.21 Homebrew

### Description:
In local development environment any change in email notification class is not affected until I stop the horizon and restart it again by :
php artisan horizon

If this is not a horizon issue and this is m

[2019-04-11 12:50] driesvints commented on #573
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-11 12:50] #573 closed

[2019-04-11 17:01] mfn commented on #573
@HPWebdeveloper this is currently expected and the trade-off of using Larvels worker vs. another architecture like e.g. https://github.com/resque/php-resque

The trade-off being that Laravels concept has much better performance characteristics as the framework does not need to fork() new workers and doesn't need to boot every time vs. you need to restart horizon.

You could try if something like h

[2019-04-14 15:33] boz14676 commented on #367
Thanks for the answer, it also help me to solve the same problem.

[2019-04-16 07:04] melvin-clickprofits opened #574 "Stop Monitoring return 405 method not allow"
- Horizon Version: 1.3.1
- Laravel Version: 5.6.28
- PHP Version: 7.2.7
- Redis Driver & Version: predis/phpredis 1.1.1

### Description:
I was able to create monitoring tag but not able to delete it.
Clicking stop monitoring tag return 405 method not allowed

Is there anything I can do to allow ? can't see anything in my laravel that blocks that i don't have any horizon related route in my web ro

[2019-04-16 10:47] lasselehtinen opened #575 "Job is triggered even though deleted in Queue::before"
- Horizon Version: 1.4.3
- Laravel Version: 5.6.39
- PHP Version: 7.2.9
- Redis Driver & Version: predis/phpredis v1.1.1
- Database Driver & Version: MySQL 5.7.23

### Description:
I am trying to build a logic to check if duplicate job already exists. The issue is that even running $job->delete() the job is still queued. I don't know the Laravel internals well enough, but is it because $job->fire(

[2019-04-16 11:54] driesvints commented on #574
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-16 11:54] #574 closed

[2019-04-16 11:54] driesvints commented on #575
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? If so feel free to reply and we'll try to have a look.

Thanks!

[2019-04-17 13:55] lasselehtinen commented on #575
Thanks. I upgraded to Laravel 5.7 and Horizon to v3.1.1 and the same behavior happens. Could you reopen this issue?

[2019-04-17 19:15] tomgrohl opened #576 "Horizon doesn't work when using content security policy headers"
- Horizon Version: 3.1.1
- Laravel Version: 5.8.11
- PHP Version: 7.2
- Redis Driver & Version: predis 1.1.1
- Database Driver & Version: Mysql 5.7.25

### Description:

Horizon doesn't work when using content security policy headers. Because of the changes to the view files between versions 1 and 3. i.e going from an empty app:

[code]

to a div with html elements and a Vue component inside it,

[2019-04-18 10:38] driesvints commented on #575
Sure, gonna check with @themsaid if he might know the answer to this.

[2019-04-18 10:41] driesvints commented on #576
I'm not really sure if it's necessary to support this tbh. This is just the way it works now and I don't know too much of view myself to know if this would at all be possible.

[2019-04-18 10:53] themsaid commented on #576
Horizon is meant to be accessible only by app developers, we don’t really consider it to be accessible to the public and thus these extra checks weren’t in mind while working on it. You need to ignore horizon routes as shared in your example.

[2019-04-19 16:35] tomgrohl commented on #576
@driesvints a fix would be to move the contents inside the horizon div to a Vue component i.e App, much like Horizon did in version 1.0+.

What @themsaid makes sense though. We have access controlled by a staff permission so its only accessible by developers.

I opened this in case this wasn't meant to be an issue.

[2019-04-20 10:37] andrewgorpenko commented on #304
Still the same problem for me. Pushed the job on the queue and Horizon "died". This is very random and happens 1 out of 10 jobs. Very uncomfortable.

[2019-04-22 08:56] driesvints commented on #576
Yeah, the horizon dashboard should only be accessible by your dev team.

[2019-04-22 08:56] #576 closed

[2019-04-23 08:33] 4n70w4 opened #581 "Disque support?"
Disque is a distributed message broker from the author of Redis.
It should be suitable for queues better than Redis.

https://github.com/antirez/disque

[2019-04-23 08:33] driesvints commented on #581
Currently no plans beyond Redis, sorry.

[2019-04-23 08:33] #581 closed

[2019-04-24 16:38] freekmurze commented on #421
@barryvdh

I wonder why not. Did you not need this functionality, or did you hit any roadblocks?

[2019-04-24 18:58] barryvdh commented on #421
It didn't work for some reason, but didn't investigate further because I didn't need it.

[2019-04-24 19:05] barryvdh commented on #421
FYI, I did encounter 2 deadlocks since my last reply, but they seemed to resolve quickly automatically. But it's not a 'big' queue, just 1 process for a specific task.

[2019-04-24 19:30] mfn commented on #421
I just too a brief look at Laravels `DatabaseQueue`, but the fact I nowhere can spot logic using `SKIP LOCKED` is an indicator that the implementation will never truly work.

The current row locking implementation simply doens't cut it for these kind of workloads: if your database does not support true `SKIP LOCKED` (or an proprietary equivalent), you will always have deadlock race conditions.

Go

[2019-04-24 19:33] barryvdh commented on #421
Well, there is a reason they suggest using Redis over MySQL ;)

[2019-04-24 20:02] mfn commented on #421
Exactly 👍  :-)

[2019-04-26 16:31] joecampo commented on #304
Hi there,

I've ran into this on a production server using 3.1.1. What I found after debugging in the console was that there were a couple of jobs that have all false values:

![image](https://user-images.githubusercontent.com/3619398/56821836-63d8be80-681d-11e9-8fae-c274b8418db8.png)

No idea how they got in there. The `name` field of the job also is `false`, so when the method `jobBaseName` is c

[2019-04-26 17:45] driesvints commented on #304
Hey @joecampo, yes feel free. Make sure you add an extensive explanation to your PR like you did here to make sure the pr gets accepted. Thanks!

[2019-04-28 02:49] #304 closed

[2019-04-28 16:45] keithbrink opened #583 "ErrorException: Warning: PDO::prepare(): MySQL server has gone away"
- Horizon Version: 3.0.6
- Laravel Version: 5.7.28
- PHP Version: 7.2.17
- Redis Driver & Version: predis/phpredis 1.1.1
- Database Driver & Version: MariaDB 10.2.23

### Description:

I am struggling with a bug on my production server using Horizon.

ErrorException: Warning: PDO::prepare(): MySQL server has gone away [internal] in unserialize

You can see a stack trace of the error here: https://

[2019-04-29 12:07] driesvints commented on #583
Hey there,

Can you first please try one of the following support channels? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/invite/KxwQuKb)
- [

[2019-04-29 12:07] #583 closed

[2019-04-29 14:10] drbyte commented on #583
@keithbrink I've been seeing the same thing intermittently for several weeks.
laravel/framework                        v5.8.14
laravel/horizon                          v3.1.1
doctrine/dbal                            v2.9.2
predis/predis                            v1.1.1
PHP 7.3.4 on a Forge server

At first I thought it might be related to devops things where the server was being updated, but I've

[2019-04-30 05:23] keithbrink commented on #583
@drbyte Thanks for your feedback, and I will report back if I make any progress on this.

I posted this to StackOverflow last week but no takers so far: https://stackoverflow.com/questions/55878253/laravel-horizon-errorexception-warning-pdoprepare-mysql-server-has-gone

[2019-04-30 07:01] driesvints commented on #583
Heya you both. Feel free to reply after monitoring a few days if this continuous to happen and I'll try to help out.

[2019-04-30 11:11] driesvints commented on #571
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-04-30 11:11] #571 closed

[2019-04-30 11:12] driesvints commented on #521
Closing this issue because it's inactive, already solved, old or not relevant anymore. Feel free to reply if you're still experiencing this issue.

[2019-04-30 11:12] #521 closed

[2019-04-30 23:42] sineld opened #584 "Translate"
Any plans to make Horizon multi-lingual?

[2019-05-01 08:37] matthewhutchings opened #585 "Jobs failing with no apparent reason"
I am using Forge / Envoyer to manage a Redis queue but the jobs are failing unexpectedly. I have simplified it down to:

TestJob.php is a blank job and I am dispatching it:
[code]
Error in Horizon:

![Screenshot 2019-05-01 at 09 35 56](https://user-images.githubusercontent.com/10011888/57010440-8c353400-6bf4-11e9-9bf5-3ec1fefad68a.png)

I run this after each deployment on Envoyer:

[code]
Horizon:

[2019-05-01 09:00] #585 closed

[2019-05-01 12:13] driesvints commented on #584
No plans for this atm, sorry.

[2019-05-01 12:13] #584 closed

[2019-05-01 15:09] AJenbo opened #586 "More insights in to running jobs/processes"
At my place of work we are using Horizon to monitor our queues one thing we found lacking is that there is very little insights in to what job is currently being run and how much system resources it is taking.

To solve this we are working on extending Horizon to give us this information and some grater control over what is running, once it's working we would be happy to contribute it back to Lara

[2019-05-01 21:21] rjksn opened #587 "Setting 0 processes results in 1 process"
- Horizon Version:v3.1.2
- Laravel Version: v5.8.3
- PHP Version: 7.2 (7.3 in Homestead v7.20.0)
- Redis Driver & Version: predis v1.1.1
- Database Driver & Version: Mysql **5.7+**

# Issue… or "feature"?

Setting horizon processors to 0, doesn't set the processors to 0. It instead starts a processor.

I'm using a three section (internal, inbound, outbound) production queue set up and using queue

[2019-05-02 10:44] AJenbo commented on #587
There will always be at least 1 process per queue. This is by design afaik.

[2019-05-02 12:43] brunogaspar commented on #586
I would be interested in some of the information you plan to add :)

Have been wanting to add these and then submit a pull request, but the lack of time have been preventing me to do so, so i would appreciate it!

[2019-05-02 15:26] driesvints commented on #587
This is indeed by design afaik. Having 0 processes doesn't really makes sense I believe?

[2019-05-02 15:26] #587 closed

[2019-05-02 15:28] driesvints commented on #586
Feel free to send in PRs if you want!

[2019-05-02 16:21] rjksn commented on #587
Seems like a less hacky way of having different machines do different tasks than all the alternatives I've seen. Alternatives mainly talk about passing different queues in the env but that doesn't help for anything besides the simplest one "queue chunk" per environment.

Is there an alternative solution I'm not seeing to restrict one queue to one processor across all servers?

[2019-05-02 17:48] AJenbo commented on #587
You can run the workers directly, but there is no real way to restrict and application to a single cpu, short of only running one worker.

Maybe a solution would be to have the section of the config be behind and if instead of trying to set the workers to 0 with * 1

[2019-05-02 18:26] driesvints commented on #587
I'm not sure how that would be possible?

[2019-05-02 19:08] rjksn commented on #587
Great get-er-done fallback, no one will ever find that setup.

I thought of a great way, It's having an environment variable setting one "production" machine to run one process. Even works with common sense, 0=0 not 0=!0. ;)

[2019-05-02 19:11] driesvints commented on #587
@rjksn you can just define other environments for each machine?

[2019-05-03 10:57] keithbrink commented on #583
@drbyte @driesvints Is it possible that Sentry is logging this error but the worker is being restarted properly? None of these errors are showing up in the failed jobs of Horizon, so I wonder if Sentry is incorrectly catching these errors?

[2019-05-03 11:06] driesvints commented on #583
Could be the case yeah. Does the result of whatever `SendSignupAcknowledgements` work out properly?

[2019-05-06 14:14] ahtinurme commented on #452
This is really f*** annoying...

[2019-05-07 12:35] driesvints commented on #575
Heya, @lasselehtinen. The way the `before` method works is to ensure you have an active DB connection etc. The `delete` method for the job is only meant to be used within the job handling itself. If you need to check for duplicate jobs you'd best do this inside the handle method.

If we need to support the `delete` method in the `before` callback then that would be a new feature. This should be ta

[2019-05-07 12:35] #575 closed

[2019-05-08 09:13] wturrell opened #590 "Unable to requeue failed Redis job"
- Horizon Version: 3.1.2
- Laravel Version: 5.8.16
- PHP Version: 7.2.18
- Redis Driver & Version: predis/phpredis 1.1.1
- Database Driver & Version: redis 5.0.4

### Description:

I have about 3,000 failed jobs on a queue (timed out).  Trying to retry one or all with the artisan queue commands produces an error about an unspecified class.

And of course same error in the log (leading to an intern

[2019-05-09 07:56] barryvdh commented on #504
@booni3 did you solve this? I've had a few (rare) occasions  of this as well, but not sure how to reproduce.

[2019-05-09 11:14] driesvints commented on #590
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-05-09 11:14] #590 closed

[2019-05-09 14:35] booni3 commented on #504
@barryvdh - I am afraid not entirely. I believe that it may be something to do with a large number of jobs sitting in within the redis memory of some sorts. And actually in my case I believe that horizon would have started again but I was just being impatient. I have since just left it and have found it always to restart again eventually, even though it may take an hour or more.

I noticed that ev

[2019-05-09 14:44] barryvdh commented on #504
Yeah restarting is not the issue (I killed it manually and Supervistor restarted), but it's a bit dangerous when they stall without noticing. In my case it was just 1 queue that was stopped, the others continued.

[2019-05-13 06:06] rendybustari opened #591 "custome view or change default url menu"
Hi...

how i can modify view horizon, i just wanna change url like "/monitoring" to "blablabla/horizon/monitoring" in menu

regards ;)

[2019-05-13 06:29] driesvints commented on #591
Hey @rendybustari, there's an option for that in the config file: https://github.com/laravel/horizon/blob/3.0/config/horizon.php#L29

[2019-05-13 06:29] #591 closed

[2019-05-14 21:27] Daespinosag opened #592 "Route not found"
- Horizon Version: 3.1.2
- Laravel Version: 5.8.5
- PHP Version: 7.2.14
- Redis Driver & Version: predis/phpredis 1.1
- Database Driver & Version:

### Description:

Horizon views routes do not work on shared server.
- If I go to **server_route/poject_name/horizon** works.
- But when I click on "Dashboard" it does not take me to **server_route/poject_name/horizon/Dashboard** if not that it takes m

[2019-05-16 11:11] driesvints commented on #592
Did you try setting the path in your config file? https://github.com/laravel/horizon/blob/2289331408d592242a41fbfd58820529c04dc70e/config/horizon.php#L29

[2019-05-17 06:51] mitoop opened #595 "Class 'Redis' not found"
- Horizon Version: 3.1.2
- Laravel Version: 5.8.16
- PHP Version: 7.3.5
- Redis Driver & Version: phpredis 4.3.0
- Database Driver & Version: Mysql 8.0.16

### Description:
horizon works well, but `horizon:snapshot` report `Class 'Redis' not found` every five minutes in laravel log file.  I found that in my **Mac dev envionment,** it report the error, but in the Linux environment, `horizon:snapsho

[2019-05-17 07:20] mitoop commented on #595
I found that in my crontab file
[code]
the php link another php, and it does have not the redis extension. when I replace php with absolute php link, it works well.

[2019-05-17 07:22] #595 closed

[2019-05-20 09:25] shadoWalker89 commented on #292
I started a new app
I'm on laravel 5.8.17 and horizon 3.1.2 (latest version of both)
I have this job that run for 831 seconds.
When the job was actually running, the horizon shows the job is paused even though it is not
My job sends progress back to the browser and i was seeing the progress advance till the end.

When my job finished, horizon showed that the job finished successfully and it run fo

[2019-05-20 13:50] ahtinurme commented on #590
I have the exact same problem, so this is definitely not "a question which can be asked on a support channel", rather a bug.

[2019-05-20 13:55] driesvints commented on #590
@ahtinurme can you first try a support channel from above? If you can actually identify this as a bug we'll take a look.

[2019-05-20 18:11] squatto commented on #255
While technically enough, yes, you run the risk of masking problems with your jobs that should run quickly. That's why it's good to split them out into your regular queue and your long running queue: long running jobs are given plenty of time to run, and regular jobs still fail if they go beyond the default timeout.

[2019-05-20 18:26] squatto commented on #255
Replying to @bilfeldt:

If I'm understanding this correctly, as he has it configured, his `redis` connection handles `default` queue jobs, and his `redis-long-running` connection handles `long-running-queue` queue jobs. That's why you don't have to specify the _connection_ when you queue the job - you're specifying a queue that's only being handled by that specific connection. You would need to sp

[2019-05-20 21:46] bilfeldt commented on #255
@squatto I think your assumption is valid. Check the Laravel Documentation section [Connections Vs. Queues](https://laravel.com/docs/5.8/queues#connections-vs-queues):

Also, note that Horizon has a _Queue Wait Time Thresholds_ setting called `waits` in `config/horizon.php` where it says:

[code]

As I understand it:

- Laravel can have multiple `connections` (like Amazon SQS, Beanstalk, or Redis)

[2019-05-21 20:17] arbex10 opened #596 "Can't publish views"
Sorry if it already been answered before, but I haven't found it.

Is there a way I can publish Horizon views?

Thanks in advance,

[2019-05-21 20:22] JayBizzle commented on #596
There are no views to publish

`php artisan vendor:publish --tag=horizon-assets --force`

...should publish everything you need

[2019-05-21 20:23] driesvints commented on #596
Yep, just use the command above or the one from the docs: https://laravel.com/docs/5.8/horizon#upgrading

[2019-05-21 20:23] #596 closed

[2019-05-22 12:50] arbex10 commented on #596
I already did that. But I am still not able to change the view without going in vendor/laravel/horizon/resources/views/layout.blade.php, and these changes would not be sustained when I update it, correct?

I would like to change things like the logo, favicon, and add a few features in the <body> of the layout.

[2019-05-22 14:05] JayBizzle commented on #596
You would need to maintain your own fork to do that I believe

[2019-05-22 14:13] arbex10 commented on #596
Got it, but wouldn't it be a nice and simple feature to add to the project?

Anyway, thanks a lot, @JayBizzle!

[2019-05-22 16:39] flamingomedia opened #597 "ERROR: A non-numeric value encountered"
- Horizon Version: 3.2.1
- Laravel Version: 5.7.28
- PHP Version: 7.1.26
- Redis Driver & Version: predis 1.1.1
- Database Driver & Version: mysql 5.7

### Description:
When launching `php artisan horizon`, after the installation steps listed in the documentation, the system works but keeps throwing this Exception every second or so:

[code]

I was able to fix it temporarily by updating
`vendor/la

[2019-05-22 20:40] Daespinosag commented on #592
the backend routes are fine, only the fronted routes do not work.
If I change the parth in the horizon configuration, the backend routes are **left route_project / route_project / horizon.** Which is a mistake.

- Is it possible to configure only the routes of the views?
- Is it a problem with laravel-mix?
-Is it possible to place the base route of the application ?, taking into account that it is

[2019-05-23 03:19] lionslair commented on #597
Same here

[2019-05-23 12:10] bkuhl commented on #597
This has killed our production environment.  We're seeing this on alpine v3.8.

[2019-05-23 12:31] bkuhl commented on #597
A little more digging here shows that https://github.com/gliderlabs/docker-alpine/issues/173#issuecomment-218620191 contains the answer for alpine linux users.  Why this has worked for me up until this point I don't know.

[2019-05-24 14:00] JayBizzle commented on #597
/ping @AJenbo

[2019-05-24 14:17] arbex10 commented on #596
@driesvints yes, I do use version control and that is exactly what I am doing atm. But thanks a lot for the suggestion, anyway. :) and if someday you manage to add this feature, I will be glad to hear.

[2019-05-24 15:25] AJenbo commented on #597
The reason that it has worked previously with the buss box versions of `ps` is that it ignores invalid (unsupported) arguments and just gives you the default. The reason it has worked previously is that Horizon only cared about the line containing the command, but now that it parses the output it needs to actually be what was requested.

The right solution like @bkuhl suggested is to install a mor

[2019-05-24 15:41] bkuhl commented on #597
I think `Unsupported` would be good, but it'd be ideal if it provided some guidance on how to resolve it via a tooltip or link to this issue.

[2019-05-24 16:25] AJenbo commented on #597
Here is what I have in mind:
![image](https://user-images.githubusercontent.com/204594/58342668-50873600-7e51-11e9-8ad6-0d6e2aa42e8c.png)

[2019-05-24 16:45] bkuhl commented on #597
Sounds great to me!

[2019-05-26 10:35] MatanYadaev opened #598 "Horizon dashboard not loading when Horizon is active"
- Horizon Version: 3.2.1
- Laravel Version: 5.8.18
- PHP Version: 7.3.5
- Redis Driver & Version: predis/phpredis 5.0.5 & 1.1.1
- Database Driver & Version: MySQL v8.0.16

### Description:
Horizon dashboard works fine by default, but when I run `php artisan horizon` on my local machine the dashboard is just stuck for long time and without response and then I receive 5.4 gateway time-out.
It began

[2019-05-26 10:56] MatanYadaev commented on #598
Fixed after updating Laravel Valet 2.1 to 2.3

[2019-05-26 10:56] #598 closed

[2019-05-26 20:24] szokeptr opened #599 "Horizon not detecting dead supervisor process"
- Horizon Version: 1.4.3
- Laravel Version: 5.6.39
- PHP Version: 7.2.17
- Redis Driver & Version: predis/predis 1.1.1
- Database Driver & Version: MySQL 5.7

### Description:
It looks like Horizon is not detecting if supervisor processes are killed and this results in no worker processes running.

I am not sure if this is intended behavior or a bug, but it is really an issue for me. For example s

[2019-05-27 01:19] nickpoulos commented on #504
Also experiencing this after Forge deploys sometimes. Horizon shows as Active/running, but no supervisor listed as running underneath.  In order to correct, I have to ssh in to prod, horizon:terminate, and usually that will bring things back in order.  A little strange bc I have very basic queues setup: one local server, one prod server, for one site with just the one queue (default).

[2019-05-27 18:18] driesvints commented on #592
Can you post example urls? is `server_route/poject_name/horizon` an url or a file path? It's still unclear what you mean.

[2019-05-27 18:19] driesvints commented on #599
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-05-27 18:23] driesvints commented on #597
The two dashes is fine. Feel free to send in a PR.

[2019-05-27 21:34] SebastianSchoeps opened #600 "ERROR: A non-numeric value encountered - language issue"
Different issue than #597

- Horizon Version: 3.2.1
- Laravel Version: 5.8.18
- PHP Version: 7.3.3

### Description:
Running on Valet on MacOS Mojave 10.14.4 - on a German system, and that's the issue.

`exec ps axo %cpu,%mem,command` returns something like
 %CPU %MEM COMMAND
  0,0  0,1 /sbin/launchd
  0,0  0,0 /usr/sbin/syslogd
  0,0  0,1 /usr/libexec/UserEventAgent (System)

The separator in Ger

[2019-05-27 21:42] brunogaspar commented on #600
Duplicate of https://github.com/laravel/horizon/issues/597

[2019-05-27 22:33] SebastianSchoeps commented on #600
As I stated, from my point of view it's another issue. #597 drifted towards Alpine - this is about a decimals separator other than ".".

[2019-05-28 06:53] driesvints commented on #600
Ping @AJenbo: can we use the solution from above?

[2019-05-28 08:04] AJenbo commented on #600
Afaik it will loose precision, but I can probably either set the local for the command or do propper parsing of the local specific format to get the correct value. I plan to work on it today so this is good timing 🙂

[2019-05-28 08:25] driesvints commented on #600
Thanks!

[2019-05-28 11:06] szokeptr commented on #599
Hi! I can confirm this issue exists on Laravel v5.8.18 and Horizon v3.2.1 (on a fresh installation):
[code]

[2019-05-28 11:20] driesvints commented on #599
AFAIK I don't think Horizon can do this so I'll mark this as a feature request.

[2019-05-28 11:27] szokeptr commented on #599
If I kill a worker process in the same way a new one is started, so I think Horizon is has the ability to do this. If I figure it out I'll be happy to send a PR.

[2019-05-28 11:29] driesvints commented on #599
It seems that we don't restart on purpose for the exit codes 0, 2 and 13: https://github.com/laravel/horizon/blob/a9204280f72a1c6d3874e0f98b68e354b212311a/src/SupervisorProcess.php#L38-L42

But I don't know why tbh.

[2019-05-28 11:56] driesvints commented on #599
It seems that 0 & 2 are exit codes where a Supervisor on Linux doesn't restarts for so it's wanted for us to ignore these. Which exist code is returned when you kill the process?

[2019-05-28 16:58] CyrilMazur opened #601 "Performance hit after upgrade to 3.2.1"
- Horizon Version: 3.2.1
- Laravel Version: 5.8.17
- PHP Version: 7.2.18
- Redis Driver & Version: predis 1.1.1
- Database Driver & Version: MySQL 5.7.25

### Description:

I noticed a performance hit in production after upgrading to Horizon 3.2.1, which is probably in relation to https://github.com/laravel/horizon/pull/589. This is on a EC2 t2 instance, with constant workload, the hit is an addit

[2019-05-28 16:58] oniice opened #602 "Jobs continue to run after failure using a second queue created via horizon config"
- Horizon Version: 3.2.1
- Laravel Version: 5.8.18
- PHP Version: 7.3.5
- Redis Driver & Version: predis/phpredis 1.1.1

### Description:
Jobs continue to run after failure using a second queue created via horizon config.

I want a separate long running queue for some jobs which run quite a while to be processed on. From my understanding (will happily do a PR to docs if my example is true) I can a

[2019-05-29 07:27] MithrandirDK commented on #266
The idea is good, but since broadcasting uses queues... won't that make for an endless loop?
1. Job is done
2. Send broadcast
3. Queue broadcast job
4. Run broadcast job
5. Broadcast job is done
6. Go to 2.

[2019-05-29 10:00] francislavoie commented on #266
Ahahaha that's an interesting thought!

I think we could avoid that by instead pushing scheduled bundled updates every x seconds instead of pushing on every job completion. That would be way too many websockets events on production systems, most likely. Or instead, just request an update over websockets every x seconds, i.e. still polling, but doing so over the same connection which is much lighte

[2019-05-29 15:08] AJenbo commented on #601
Can you check if this is related to the scheduler or one of the other processes?

[2019-05-29 16:49] Daespinosag commented on #592
Hello,

I'm on a shared server that has a domain for many applications.

This domain would be the "server_route or www.specific-domain.test" and each project would be a folder within the "www" (it is an apache server).

There are several projects for which access is given by the "server_route" and the name of the folder in which the project is hosted, for example "poject_name".

- The problem is t

[2019-05-30 09:52] CyrilMazur commented on #601
How can I check that?

[2019-05-30 12:02] driesvints commented on #592
What happens when you change "path" to this:

[code]

[2019-05-30 14:18] themsaid commented on #602
I've seen multiple queues running with the same configuration you shared without any issues. You'll need to double check your configs and make sure all is right.

Ping me if someone else is having the same issue, but so far you can have two supervisors running each with a different timeout value and it'll run just fine.

[2019-05-30 14:41] AngyNoT opened #603 "Apache not starting when using horizon in Envoy"
- Horizon Version: 3.1.1
- Laravel Version: 5.8.14
- PHP Version: 7.2.18
- Redis Driver & Version: predis/predis 1.1.1

### Description:

I'm currently setting up continuous deployment on my server with Docker and using Envoy to trigger the following commands on startup:
[code]

After Envoy is done running all these commands, my website shows a "Bad Gateway".
Checking my logs I noticed that Apache

[2019-05-30 15:27] Daespinosag commented on #592
it does not work because horizon concatenates what is put in "path" or "domain" with "server_path" it renders this:

server_route /poject_name /horizon/server_route/horizon

[2019-05-30 15:27] driesvints commented on #603
I don't think this has anything to do with Horizon specifically but rather with your specific setup. Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow

[2019-05-30 15:27] #603 closed

[2019-05-31 09:18] curious-jim opened #604 "Can't retry failed jobs"
- Horizon Version: 3.2.1
- Laravel Version: 5.8.19
- PHP Version: 7.3.5
- Redis Driver & Version: predis/phpredis 4.0.9 & 1.1.1
- Database Driver & Version: Ver 15.1 Distrib 10.3.15-MariaDB

### Description:

[code]

trace:

[code]

in RedisQueue@pushRaw in `$payload = (new JobPayload($payload))->prepare($this->lastPushed)->value;` the `$this->lastPushed` is null

### Steps To Reproduce:

`php art

[2019-05-31 11:13] Edofre commented on #565
@driesvints

Quick question, does this mean that Horizon ^1.2 (& all official packages) for Laravel 5.5.* will get security updates till August 30th, 2020?

Thanks in advance.

[2019-05-31 11:29] driesvints commented on #565
@Edofre no. Only the latest release.

[2019-05-31 12:09] driesvints commented on #604
Can you please provide a repo with a minimum amount of setup that reproduces this problem? Some people have submitted this before but this was always a specific use-case and there wasn't a way to reproduce it.

[2019-05-31 12:12] driesvints commented on #592
It just occurred to me that we don't support running Laravel in a subdirectory. So we can't support Horizon like that either, sorry.

[2019-05-31 12:12] #592 closed

[2019-05-31 20:37] szokeptr commented on #599
It’s hard to reproduce, but I will try to put together a minimal setup to demonstrate and check the exit code.

[2019-05-31 21:05] xtrasmal commented on #121
Hello @jfoliveira,

Horizon and Telescope both have an API, so you could have a logger in Lumen that connects to the instances that have Horizon/Telescope running.

[2019-06-01 15:10] mikew1 commented on #158
@carltondickson  I believe the horizon dashboard and web routes are not handled by `php artisan horizon`, but will be picked up by your main web process (remember horizon is installed into your app, its routes will be registered into your app, which will then serve them via the heroku web process).

What this thread has not clearly answered for me, though, is whether the horizon daemon is ok with

[2019-06-02 22:19] oniice commented on #602
Hi @themsaid - I think it is a config issue...not knowing what configuration gets precedence for the `retry_after` value.

I maybe doing something completely wrong, but not matter what combination I do - setting a `retry_after` value in the `horizon` config, does not effect the queues retry value.
Neither it appears does setting a `$retryAfter` value on the job model - it is always the base redis

[2019-06-04 06:03] tomswinkels commented on #600
Same issue? https://github.com/laravel/horizon/pull/606

[2019-06-04 08:36] driesvints commented on #600
@tomswinkels I believe so.

[2019-06-04 08:36] #600 closed

[2019-06-04 12:17] pactode opened #607 "No supervisors / processes shown"
- Horizon Version: 3.2.1
- Laravel Version: 5.8.19
- PHP Version: 7.3.4
- Redis Driver & Version: predis/phpredis 1.1.1
- Database Driver & Version: mysql 5.7

### Description:
No supervisors / processes shown.

![Screenshot 2019-06-04 at 14 09 03](https://user-images.githubusercontent.com/5956778/58878223-09ac0280-86d3-11e9-8442-fe0a58059174.png)

### Steps To Reproduce:
After upgrading from **v3

[2019-06-04 12:18] driesvints commented on #607
Heya, thanks for reporting.

I'll need more info and/or code to debug this further. Please post relevant code like models, jobs, commands, notifications, events, listeners, controller methods, routes, etc. You may use https://paste.laravel.io to post larger snippets or just reply with shorter code snippets.

Thanks!

[2019-06-04 12:25] pactode commented on #607
Hey @driesvints

The horizon config file can be found here:
https://paste.laravel.io/8496fc9d-3a1e-4a04-9c07-a94d9534c6a3

The horizon service provider can be found here:
https://paste.laravel.io/ae853db5-97fe-4133-8966-52d36a0dcea1

The jobs are running fine in the background, but it does not display it correctly on the dashboard. The recent jobs tab works fine. I've tried it on a couple of proje

[2019-06-04 14:05] pactode commented on #607
@driesvints I checked the logs and it is filled with this error:
https://paste.laravel.io/94f23bba-30ba-4f18-ba34-3a9ac0ee84c2

[2019-06-04 18:54] pactode commented on #607
**UPDATE**
I just updated to v3.2.2 to test if that did the trick. Unfortunately, no.

So I spent some time debugging the error below:

[code]

Logging the `$supervisor->workerStats()` returns:

[code]

The error is caused by the following call in `Laravel\Horizon\Repositories\RedisSupervisorRepository` on line 129:

[code]

@driesvints I hope this explains the issue in more detail and thanks for

[2019-06-04 22:49] bonzai commented on #607
What operating system are you using?

Can you paste the results of `ps axo %cpu,%mem,command`?

[2019-06-05 05:26] pactode commented on #607
I'm using Docker running Alpine Linux.
The specific image is: `phpearth/php:7.3` - [Link](https://hub.docker.com/r/phpearth/php/)

Results of `ps axo %cpu,%mem,command`:
[code]

[2019-06-05 06:18] mfn commented on #607
It seems the output of `ps` is incompatible / unexpected to what flags are given. What flavor/version of ps does Alpine linux use?

The output should look something like this:
[code]

[2019-06-05 06:28] pactode commented on #607
Looks like it uses BusyBox v1.29.3

[2019-06-05 08:13] kohlerdominik commented on #607
**TL;DR**
Workaround: Install procps in Alpine Containers:
[code]

**Full:**
I can confirm this on on the official php-alpine image:[ php:fpm-alpine3.9](https://github.com/docker-library/php/blob/8203d502a18ecfe79ac011f85843754fb524b899/7.3/alpine3.9/fpm/Dockerfile).

It's the same output and uses the same BusyBox Version as @pactode (but alpine3.9 instead 3.8 based). After installing procps, it s

[2019-06-05 09:39] pactode commented on #607
@kohlerdominik Thanks for the workaround. It does work when installing that package.

I think it's okay to install `procps`, but I suggest adding a note about it in the documentation as it worked without it before adding the latest feature to horizon. Perhaps even in the upgrade notes?

@driesvints What do you think?

[2019-06-05 11:49] driesvints commented on #607
@pactode adding a note to the docs is certainly something we can do. But getting this to work in general would be better still. Maybe disable the cpu/memory stuff if no valid ps/procps binary is installed.

Thanks to everyone helping out here 👍

[2019-06-05 14:48] Gummibeer commented on #486
It's the same here. I also have 3 queues and if I define 1 process more than a multiple of 3 it spawns only the max multiple of 3. For example 10 processes will spawn 3 workers for every queue.
The moment my queues get filled and the load is unbalanced it spawns all 10 processes.

For me this isn't bad because it prevents to stop the fourth process of one queue and start it for another one because

[2019-06-06 15:42] curious-jim commented on #604
Can't reproduce it with the fresh installation, can't even figure out what is causing the error in my live app. Only some jobs are affected. I'll run more tests when I'll have more time

[2019-06-06 19:51] AJenbo commented on #601
I think this may be because it now calls `ps` twice, once to find out if it need to auto-scale and once to get the current system load. Unfortunately on my system the performance difference is so minute that I'm unable to tell the difference.

I have 3 options for possible improvements.
1: Differentiate the two calls so that the auto-scaler only get the list of commands and not CPU and mem load.
2

[2019-06-06 20:59] vlauciani commented on #602
good question...

[2019-06-07 07:40] driesvints commented on #604
Okay, feel free to respond back when you have more info.

[2019-06-07 07:40] #604 closed

[2019-06-07 13:41] trip-somers commented on #315
This is almost definitely happening to me but only on my Homestead instance and not on my production server. I'm going to try updating Homestead, since it's only happening there.

For anyone interested, here's my list of symptoms:
* Job A contains a `if (! Storage::exists($folder) && ! Storage::makeDirectory($folder))` line that results in a "mkdir(): File exists" error. That's a hell of a race co

[2019-06-07 15:26] CyrilMazur commented on #601
Option 4: boolean to enable / disable telemetry?

For option 1, if you can give me an example of `ps` command, I can try to benchmark it on my EC2 t2 instance.

[2019-06-07 16:01] AJenbo commented on #601
`exec ps axo %cpu,%mem,command | grep "supervisor=SomeHorizonName" | grep -v "grep"`

[2019-06-07 19:45] CyrilMazur commented on #601
Over 50,000 iterations, no significant difference...

[code]

[2019-06-07 22:27] AJenbo commented on #601
Hmm less then 4% increased performance dosent look promising for option 1. There would also be a reduction in time spent parsing the result, since scaling would only need the number of lines. But I wouldn't expect this to much of a performance issue either.

Currently this only appears to cost 0.16% cpu at the tick rate on the given system so perhaps more then just ps is to blame here.

[2019-06-08 13:03] DougThwaites commented on #383
Hey all,

My problem was slightly different and niche so I thought i'd post incase it helps anyone.

My specific issue was I was using a package to minify HTML output which was stripping inline css.

In my case I was using "RenatoMarinho\LaravelPageSpeed" (Great package) so I just had comment out the InlineCSS stripping service provider.

Hope this helps.

Keep on being awesome everyone :)

[2019-06-08 13:04] ikudosi commented on #583
I also have the same issue (if it is even an issue). I have a job running twice a day and all it's doing is sending out a simple email with a URL. Sentry has logged it as an error and Horizon has no recollection of a failed job. However... the job did process successfully as the end users were able to get the email.

[2019-06-08 16:54] trip-somers commented on #315
Updating Homestead seems to have corrected the issue for me, whatever it was.

[2019-06-10 19:22] devcircus opened #610 "Another "The dashboard isn't showing my jobs" issue..."
- Horizon Version: 3.2.2
- Laravel Version: 5.8.21
- PHP Version: 7.3
- Redis Driver & Version: predis 1.1.1
- Database Driver & Version: MySQL 8.0.16

### Description:
Horizon starts, processes queued jobs/listeners correctly with no errors. While horizon is running, the Dashboard correctly displays "Active" and the supervisors are shown. All configuration shows correctly on the Horizon dashboard

[2019-06-11 12:37] mfn commented on #563
I had the same problem (Laravel 5.8, Horizon 3.2.2)

My issue was this default code in the published `HorizonServiceProvider`:
[code]
In my case I've no auth middleware because it's done on the webserver already via IP-addresses matching VPN, etc.

So, no authenticated user present.

However: when defining the closure like this `function ($user) {… }` and there is _no_ authenticated user, this gat

[2019-06-11 14:25] devcircus commented on #610
After several days dealing with this, I fired up my development machine this morning and everything magically works.....hell if i know what fixed it.

[2019-06-11 14:25] #610 closed

[2019-06-11 16:51] abbood commented on #274
@taylorotwell does laravel pub/sub work with redis clusters? see my question here: https://stackoverflow.com/questions/56531037/cannot-use-pub-sub-with-redis-cluster

[2019-06-12 15:34] ragingdave opened #612 "Queue Job just sat pending until the timeout duration passed"
- Horizon Version: 3.2.1
- Laravel Version: 5.8.19
- PHP Version: 7.2.17
- Redis Driver & Version: predis/phpredis 1.1.1
- Database Driver & Version:

### Description:
So I'm not entirely sure as to what's causing this, but I have run into an issue where a queue job will stall in the queue, then after the defined timeout passes, the job is run, almost as if there is a delay configured, but I don't

[2019-06-12 18:32] robclancy commented on #597
I personally love spamming bugsnag with a regression.

[2019-06-12 22:35] xlcrr commented on #300
I had the same error trying to access horizon in production which was returning 403

[code]

solved it

[2019-06-13 03:20] daniel-farina commented on #612
similar issue here here.

It works fine in one server I deployed long time ago, a brand new server on Laravel Forge running PHP 7.3 is not doing anything.  The job is started and terminated after each deployment, the handle never gets processed.

1gb droplet in digital ocea, php 7.3 and maria db.

[2019-06-13 12:36] darki73 opened #613 "Horizon is serving files through http on https website"
**- Horizon Version:** 3.2.2
**- Laravel Version:** 5.8.22
**- PHP Version:** 7.3.5
**- Redis Driver & Version:** predis/phpredis 1.1.1
**- Database Driver & Version:** MariaDB 10.4

### Description:
![Annotation 2019-06-13 152853](https://user-images.githubusercontent.com/1318627/59432561-4a50fd80-8df0-11e9-8691-2818b6e0497d.png)
This is the reason i've created [this pull request](https://github.

[2019-06-13 12:47] darki73 commented on #327
My preferred way for changing interval would be something like dropdown (the way it implemented in Grafana) right next to the "Refresh" button in the top right corner of the application

[2019-06-13 12:59] tomswinkels commented on #327
@darki73 good idea! Maybe you can make a PR for that?

[2019-06-13 13:07] driesvints commented on #563
@mfn might be worth a pr to the docs if you have some time :)

[2019-06-13 13:12] driesvints commented on #613
I don't think this has anything to do with Horizon but rather the way your web server handles the requests. It's probably better if you ask this question on a support channel because you'll have a higher chance that someone could help you out to figure which thing is affecting your local setup.

If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and r

[2019-06-13 13:12] #613 closed

[2019-06-13 13:35] driesvints commented on #597
@robclancy does upgrading to v3.2.2 help? A fix for this was merged in here: https://github.com/laravel/horizon/pull/606

[2019-06-13 13:36] driesvints commented on #597
I'm keeping open this issue btw for this feature request: https://github.com/laravel/horizon/issues/597#issuecomment-495697594

Feel free to PR that in.

But the numeric issue should be fixed in v3.2.2

[2019-06-13 14:05] driesvints commented on #612
Can you post the actual job? More code could help us identify the problem.

[2019-06-13 14:12] AJenbo commented on #597
#597 only solves the issues for system where the `ps` version supports the output format, but the system language is set to a locale that uses `,` as the fraction separator.

This issue relates to systems where the installed `ps` doesn't support the requested output. I unfortunately haven't haven't had the needed time to work on the issues as there has been more pressing matters, but hope to have

[2019-06-13 14:32] ragingdave commented on #612
Here is the job and a little background on what it handles.
The activity passed in is a spatie activity log model, the other params are either strings or arrays so nothing in there I can see should be an issue.
Additionally, I wrote it so I would know when the job was at least attempted with the activity log update to add in the 'Attempting Import' line. It's also worth noting that this job ran fo

[2019-06-13 17:06] ragingdave commented on #612
A bit of an update here as well, had another very strange occurance:
Job was queued at 2019-06-13 16:35:56
Horizon logs show it started to process but them immediately failed the job:

    Jun 13 16:57:27 app01 php[7310]: [2019-06-13 16:57:26][22] Processing: App\Jobs\ImportExcel
    Jun 13 16:57:27 app01 php[7310]: [2019-06-13 16:57:26][22] Failed:     App\Jobs\ImportExcel

With the exception bei

[2019-06-14 12:14] driesvints commented on #597
In light of the bugs in the last couple of weeks and the performance hit we've decided to revert the original PR. Please see my answer here: https://github.com/laravel/horizon/pull/589#issuecomment-502085735

[2019-06-14 12:14] driesvints commented on #601
The original PR that caused the performance hit was reverted.

[2019-06-14 12:14] #601 closed

[2019-06-14 12:14] #597 closed

[2019-06-14 12:16] driesvints commented on #607
We've reverted the original PR that implemented the CPU and memory tracking so this problem should be fixed in the next release.

See my answer here: https://github.com/laravel/horizon/pull/589#issuecomment-502085735

[2019-06-14 12:16] #607 closed

[2019-06-14 12:17] driesvints commented on #586
We've reverted the original PR that implemented this and probably won't be reconsidering this feature again. Please see my answer here: https://github.com/laravel/horizon/pull/589#issuecomment-502085735

[2019-06-14 12:17] #586 closed

[2019-06-14 13:52] bagayollow opened #617 "Two replicas of horizon listen to same queues."
On GKE, I have two replicas of horizon for consuming queues faster, they listening to the same queues,I found out sometimes a job executed mutiple times at the same time. Is this expected to happen, or did I do something wrong?
The queue driver is redis, I am using redis sentinel service, the servers connected to the master directly by REDIS_HOST=redis-ha-master-svc

[2019-06-14 13:53] driesvints commented on #617
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-06-14 13:53] #617 closed

[2019-06-17 13:11] ragingdave commented on #612
Anyone have any thoughts, had another very strange issue where a job got queued, got reserved 20 minutes later, shows 2 attempts but max_tries is set to 1, and now seems just stuck for another 20 minutes.

Is there any sort of issue with running supervisors on multiple machines? That's the only thing I can think of that could be causing something like this, but I also experienced the same thing du

[2019-06-17 13:21] Hawlitschek commented on #452
The error still persists.
In order to reproduce the issue, just add a row into the failed jobs table and run
`php artisan queue:retry all`

In our case, we populate redis from another application. Therefore last pushed will always be empty

[2019-06-18 21:43] xyrintech commented on #567
Hey,
By the way, I tried this thing you mentioned but no success.
Any update how soon this bug will be resolved? :)
Thanks.

[2019-06-20 16:38] lonnylot commented on #599
@szokeptr Are you using Supervisord per the docs? (https://laravel.com/docs/5.8/horizon#deploying-horizon)

[2019-06-20 16:54] lonnylot opened #618 "Custom MasterSupervisor::basename breaks horizon dashboard"
- Horizon Version: 3.1.2
- Laravel Version: 5.7.28
- PHP Version: 7.2.19
- Redis Driver & Version: predis/phpredis 1.1.1
- Database Driver & Version: MySQL 5.7.23

### Description:

If the `MasterSupervisor::basename()` contains an extra ':' then the `RedisSupervisorRepository::update` will set the wrong `master` field.

### Steps To Reproduce:

1. Set your `app/Providers/HorizonServiceProviders.p

[2019-06-20 17:25] szokeptr commented on #599
@lonnylot yes, of course. The problem is that horizon ignores the death of the supervisor process (that is launched by it) and because of this no worker processes are active for that supervisor anymore.
This is an extremely rare edge-case as the supervisor process has no reason to crash, in my case the root cause was that the system hit the max open files limit and PHP was not able to start proper

[2019-06-20 17:25] #599 closed

[2019-06-20 18:22] ragingdave commented on #612
So in further debugging and log tracing, I might have gotten lucky....
On the latest queue job, (queued at 2019-06-20 13:28:09) there was a log entry at the same time:

    [2019-06-20 17:28:09] production.ERROR: Error while reading line from the server. [tcp://redis01:16379] {"exception":"[object] (Predis\\Connection\\ConnectionException(code: 0): Error while reading line from the server. [tcp://

[2019-06-21 13:19] #618 closed

[2019-06-22 12:02] ghobaty opened #620 "JS error on Job Preview screen"
- Horizon Version: 3.2.3
- Laravel Version: 5.7.28
- PHP Version: 7.2.19
- Redis Driver & Version: predis/predis 1.1.1
- Database Driver & Version: MySQL 5.7

### Description:
This happens for only some of our failed jobs. The preview screen keeps loading forever and there is a JS error in the console.
<img width="1678" alt="Screen Shot 2019-06-22 at 13 56 57" src="https://user-images.githubuserco

[2019-06-22 12:37] ghobaty opened #621 "Incorrect metric at the dashboard overview"
- Horizon Version: 3.2.3
- Laravel Version: 5.7.28
- PHP Version: 7.2.19
- Redis Driver & Version: predis/predis 1.1.1
- Database Driver & Version: MySQL 5.7

### Description:
I believe the dashboard displays an incorrect label or number for the failed jobs metric.
<img width="1206" alt="Screen Shot 2019-06-22 at 14 35 15" src="https://user-images.githubusercontent.com/6379163/59964009-0d28f180-94

[2019-06-24 08:26] driesvints commented on #612
@ragingdave sorry man. Bit swamped myself atm so probably don't have time to deep-dive into this soon..

[2019-06-24 15:58] shawnhind commented on #621
I've also seen this value go down between reloads as if the number of failed jobs in the last 7 days has decreased, meanwhile new failed jobs are actually still occurring.  Would this be related?

[2019-06-24 16:00] shawnhind commented on #602
@vlauciani what is laravel-horizon 5.8?  Is there a separate branch for that and not just the normal horizon versions?

[2019-06-25 14:11] tomswinkels opened #622 "maxProcesses and minProcesses does not work"
- Horizon Version: 3.2.3
- Laravel Version: 5.8.23
- PHP Version: 7.2
- Redis Driver & Version: predis/phpredis 1.1.1

We have the next config;

[code]

There are always running 8 processes for default, even when there are no jobs. On the dashboard and on the server processes list.

[2019-06-25 14:51] ragingdave opened #623 "Failed Closure job causing UI to not show the details"
- Horizon Version: 3.2.3
- Laravel Version: 5.8.24
- PHP Version: 7.2.18
- Redis Driver & Version: predis/phpredis 1.1.1

### Description:
When a failed closure job came up, it just caused the horizon UI on the failed job detail screen to not render properly.

This is the failed job response from the api:

    {
      "id": "38228",
      "connection": "redis",
      "queue": "test",
      "name":

[2019-06-25 21:09] JayBizzle commented on #621
We are also seeing the same issue...

These screenshots were taken on the 13th June...

<img width="218" alt="Screenshot 2019-06-13 at 20 17 36" src="https://user-images.githubusercontent.com/340752/60133659-affc9c80-9795-11e9-92d6-93bed8de8fe8.png">

Says there is 1 failed job in the last 7 days...

<img width="289" alt="Screenshot 2019-06-13 at 20 17 52" src="https://user-images.githubuserconten

[2019-06-25 23:43] travisaustin opened #624 "Horizon should support both queue:listen and queue:work styles"
When running Horizon with jobs that connect to a SOAP server (using `SoapClient`) or connect to AWS S3 using the AWS SDK for PHP, many connections are opened, used, and then left in the `CLOSE_WAIT` TCP state until Horizon is terminated. This is not a limitation of Horizon, but it would be really helpful to run Horizon like the command `queue:listen` does so that `CLOSE_WAIT` connections don't sta

[2019-06-26 05:08] sebestenyb commented on #583
We started seeing this error since we upgraded to Laravel 5.8, pretty much every `horizon:work` ends up with this error in Sentry.

[2019-06-26 06:48] peterpan666 commented on #421
Hi all,

Can anybody explain why deadlocks would be a concern in Horizon but not with Laravel's DB queues?

Or is that what @mfn is saying like we shouldn't really use Laravel's DB queues in production?

Thanks!

[2019-06-26 07:11] barryvdh commented on #421
That last one, you shouldn't use it with high loads.

[2019-06-26 07:16] peterpan666 commented on #421
Thanks for your answer @barryvdh! Any idea what should be considered a high load?

[2019-06-26 07:16] barryvdh commented on #421
Redis

[2019-06-26 07:17] barryvdh commented on #421
I would just always use Redis with Horizon ;)

[2019-06-26 07:25] peterpan666 commented on #421
For the records, there are many issues about this on the laravel/framework repo https://github.com/laravel/framework/issues?q=is%3Aissue+deadlock+queue

[2019-06-26 14:45] shawnhind commented on #624
We have the same problem and we restart horizon every 4 hours to get around this problem.

[2019-06-27 07:56] tomswinkels commented on #622
When i check the process list on the server i see the min and max settings in the supervisor command. (see screen) But i see always running 8 horizon workers. (other screen)

![image](https://user-images.githubusercontent.com/9036151/60247859-c4d64e80-98c1-11e9-95a3-e9b377947c72.png)

![image](https://user-images.githubusercontent.com/9036151/60247908-dcadd280-98c1-11e9-9484-64de45d95c31.png)

[2019-06-27 10:38] driesvints commented on #624
I think if you can implement in a clean and non-breaking way that we're definitely open to a PR here.

[2019-06-27 11:35] driesvints commented on #623
Could you share the job itself?

[2019-06-27 11:40] driesvints commented on #620
Does the bug prevents you from using any of the other JS functionality? (screen freezes)

[2019-06-27 12:24] ragingdave commented on #623
the closure was just:

    function () use ($changelog) {
        $changelog->delete();
    }

This was getting dispatched in a chain and if the changelog didn't exist when the job ran the error above would be logged (which is already cryptic saying that Closure doesn't exist) and the UI would fail.

I have since converted this simple closure to just be a simple job class to avoid this by enabling

[2019-06-29 09:05] ghobaty commented on #620
No, it does not.

[2019-07-01 16:33] gdebrauwer opened #625 "'Memory Exhausted' when removing monitored tag"
- Horizon Version: 3.2.3
- Laravel Version: 5.8.24
- PHP Version: 7.3.4
- Redis Driver & Version: predis 1.1.1
- Database Driver & Version: mysql 5.7

### Description:

I was monitoring a tag on my production server. That tag was linked to a couple of 100 000 jobs.
I suddenly noticed that my redis-server was using a lot of memory (almost 10GB) and I discovered that it was caused by the monitoring.

[2019-07-01 18:29] mfn commented on #625
I reported the same some time ago: https://github.com/laravel/horizon/issues/271

Apparently some fix was applied related to expiration, but to me it was clear the overhead is too risky for production when you suddenly get an influx o jobs. Which is kind of a paradox if you consider the purpose of a queue system: it shouldn't matter whether you have 100 or 100.000.000 jobs, regardless of the monit

[2019-07-01 21:15] travisaustin commented on #624
Hey @shawnhind, we submitted a PR with this functionality. Feel free to give it a try!

[2019-07-02 10:59] driesvints commented on #625
I really have no clue on how to even begin approaching this tbh. @mfn to me it seems this is just out of Horizon's scope to handle?

[2019-07-02 11:16] themsaid commented on #486
Hey everyone, I've sent a PR to deal with this issue: https://github.com/laravel/horizon/pull/627

[2019-07-02 11:18] mfn commented on #625
Maybe it's a documentation/warning issue: if you use tags, meta data gets written to redis which increases the size drastically.

I think it's easy to reproduce, one just has to compare redis DB size locally / RAM :
- create 5.000.000 jobs

Versus:
- enable tags for a job
- create 5.000.000 jobs

[2019-07-02 11:37] GuntherDebrauwer commented on #625
the `StopMonitoringTag` job class uses the jobs($tag)` method of the `RedisTagRepository` class to fetch the jobs.
The `RedisTagRepository` class also has a `paginate($tag)` method, so maybe that method could be used instead? This will limit the amount of jobs that will be loaded in php and prevent exhausting your memory.

[2019-07-02 11:40] driesvints commented on #625
@GuntherDebrauwer maybe yeah. I'm not sure what the impact of that would be? Ping @themsaid

[2019-07-02 12:01] mfn commented on #625
Please note that this and my issue is about **Redis** memory exhaustion, not PHP; it's a problem with the amount of data stored within redis with tagging and large amount of jobs.

[2019-07-02 12:11] GuntherDebrauwer commented on #625
@mfn why is this a Redis memory exhaustian? It's true that monitoring causes a lot of data storage within redis, but that didn't cause the exhaustion error (my server memory usage was only 65-70%). The problem was removing my monitored tag did not deleted all jobs of that tag. It tried to load all jobs into php memory, to then delete them one by one. And loading couple of 100 000 jobs from redis-s

[2019-07-02 12:12] themsaid commented on #567
Hey,

This isn't an issue with Horizon but laravel/framework.

I've addresses the issue here https://github.com/laravel/framework/pull/29024 and will close this issue since it's not related to Horizon.

[2019-07-02 12:12] #567 closed

[2019-07-02 12:44] mfn commented on #625
@GuntherDebrauwer apologies, I think I must have misread some parts and thought it was exactly the issue I once experience => in this case, please disregard my comments 🙇

[2019-07-02 13:28] driesvints commented on #624
I'm afraid I'll have to close this because the PR for this was rejected. Please see Taylor's remark here: https://github.com/laravel/horizon/pull/626#issuecomment-507675354

[2019-07-02 13:28] #624 closed

[2019-07-02 15:29] driesvints commented on #486
Fix will be added in the release for today.

[2019-07-02 15:29] #486 closed

[2019-07-02 15:57] GuntherDebrauwer commented on #625
@mfn No problem 🙂 I do agree that the documentation maybe should include a warning regarding the increased memory usage / saved data in redis when monitoring a tag.

[2019-07-02 16:10] ragingdave opened #628 "Malformed Response for recent/failed jobs on binary data in payload/exception"
- Horizon Version: 3.2.4
- Laravel Version: 5.8.26
- PHP Version: 7.2.18
- Redis Driver & Version: predis/phpredis 1.1.1

### Description:
If an exception or payload contains binary information, that will cause a Server Error and will cause the failed/recent jobs to not show any of the job information as result. As for the specific case, using any binary field in a model will cause this to happen

[2019-07-02 17:00] travisaustin commented on #624
I'm not sure if it's better to comment here on my issue, or on my PR, so I'm adding a note here to say I argued my position on the PR.

https://github.com/laravel/horizon/pull/626#issuecomment-507758257

[2019-07-03 08:11] ronnievisser commented on #622
I got this exact same problem! Is there a solution for already?

[2019-07-03 13:40] rennokki opened #629 "Horizon does not evenly distribute the queries on SQL Master & Read Replicas"
- Horizon Version: 3.2.x
- Laravel Version: 5.8.x
- PHP Version: 7.2
- Redis Driver & Version: 5.0.3
- Database Driver & Version: PgSQL 11.2 (AWS)

### Description:
I moved a workload on AWS and i use RDS for PgSQL and EB to deploy the app. Since RDS allows me to create read replicas, i have created one and i put them in the pool in my `config/database.php`. The app can read/write on master and ca

[2019-07-03 13:52] mfn commented on #629
Is this really specific to Horizon?

Seems to me that if this is an issue, it's related to the worker code itself (within the Laravel framework). Can you reproduce this without Horizon, just regular workers?

[2019-07-03 13:56] rennokki commented on #629
@mfn I opened the issue here because it's hard to understand how Horizon treats this "request cycle" that's documented in the [Database: Getting Started](https://laravel.com/docs/5.8/database) for sticky databases. I assume that enabling the sticky database, it uses the master to read and then to write and it locks it out some way and the rest of the jobs use the same nodes.
Cannot reproduce this

[2019-07-04 03:15] mfn commented on #629
I understand. Running a regular Laravel worker does the same thing. Runs, without interruption, all the time. Never quits unless it crashes or is signaled to do so.

Horizon "just" puts a nice management on top of it, but the basics are the same. That's why I'm asking.

[2019-07-04 07:13] tpetry commented on #298
@driesvints This cloud work like https://github.com/imTigger/laravel-job-status

So the implementation of a queue job is calling progress information functions on the job and these values are saved to the redis database and displayed in horizon. This would really improve the functionality of horizon for some long running jobs which need minutes.

[2019-07-04 07:33] tpetry opened #630 "Progress information for jobs"
The functionality of Horizon is already very good and it is an indispensable part of Laravel Applications.

It would be very awesome to be able to show the current progress of jobs:

1. A queue job must derive from an abstract Horizon job class, so that the job ID in horizon is assigned to the job class. This abstract class will provide some functions to publish progress information like the [job

[2019-07-04 11:40] driesvints commented on #630
Feel free to do a proposal PR if you like but I'm unsure if this will get accepted.

[2019-07-04 11:43] driesvints commented on #629
I don't have any experience with all this myself I'm afraid so appreciating any help with this.

[2019-07-04 11:44] driesvints commented on #628
I think this is somehow related to https://github.com/laravel/framework/issues/28847 if I'm right and it seems to me that this is more of a framework problem than a Horizon problem?

[2019-07-05 18:23] ragingdave commented on #628
While that might be something related in terms of UTF-8 handling I don't think that's the issue here.
For reference here is the stacktrace:

    [2019-07-02 02:27:08] production.ERROR: Malformed UTF-8 characters, possibly incorrectly encoded {"userId":16,"exception":"[object] (InvalidArgumentException(code: 0): Malformed UTF-8 characters, possibly incorrectly encoded at /var/www/html/backend/vendo

[2019-07-06 11:46] Keftaa commented on #440
In case anyone lands here too, this one solved it for me!
I had in my .env file, APP_ENV=development and there were only 'production' and 'local' under 'envrionments' in config/horizon.php. I renamed 'local' to 'development' and everything worked after running `php artisan horizon`

[2019-07-07 13:17] darki73 opened #631 "Horizon tries to load resources over HTTP on HTTPS"
- Horizon Version: 3.2.5
- Laravel Version: 5.8.27
- PHP Version: 7.3
- Redis Driver & Version: predis/phpredis 1.1.1
- Database Driver & Version:

### Description:
Even though Horizon url is accessed through the HTTPS, it still tries to load the resources from the HTTP. The rest of application works just fine, Laravel Nova is also working fine. For some reason only Horizon fails to understand tha

[2019-07-07 21:40] derekmd commented on #621
The problem is (by default) only the past hour of failed jobs are included in the dashboard count. The labelled "FAILED JOBS PAST 7 DAYS" period is from `config('horizon.trim.failed')` but the metric is actually filtered by `config('horizon.trim.recent')`.

I put some branches together, one of them can be put up as a pull request.

## Option 1 - make count behave as already labelled

![option-1-we

[2019-07-08 05:49] dmitryuk commented on #328
https://github.com/RoboFinance/laravel-redis-queue-clear

[2019-07-08 08:19] atymic commented on #536
@driesvints

I'd love to take a crack at adding some of this stuff. Are you open to PRs?

[2019-07-08 08:47] liuk78 opened #632 "Horizon Terminate command not working properly"
when i run supervisor command to Start a new supervisor and after i run terminate command to suspend horizon, then horizon kills all other process but not process added whit command supervisor.

This is the process before i run horizon:supervisor command,
where there are the processes related to the supervisor inside the configuration file
![before](https://user-images.githubusercontent.com/526530

[2019-07-08 09:14] JayBizzle commented on #621
Option 1 for me 👍

[2019-07-08 09:38] driesvints commented on #631
Are you behind a load balancer? Have you configured your trusted proxies correctly? https://laravel.com/docs/5.8/requests#configuring-trusted-proxies

[2019-07-08 09:49] driesvints commented on #536
@atymic definitely

[2019-07-08 09:50] driesvints commented on #632
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-07-08 09:50] #632 closed

[2019-07-08 12:29] darki73 commented on #631
This is the content of my `TrustProxies.php` middleware, no load balancing, no nothing.
![Annotation 2019-07-08 152541](https://user-images.githubusercontent.com/1318627/60809974-ac551680-a194-11e9-9940-10ffaf9222ff.png)

I (presumably) found a way to actually **Nova**_fy_ Horizon by changing:

**From (styles):**
[code]
**To**
[code]

**And (js) from:**
[code]
**To:**
[code]

This is pretty much h

[2019-07-08 13:08] themsaid commented on #621
I wonder what @halaei thinks here.

[2019-07-08 13:11] shawnhind commented on #621
Option 1 for me

[2019-07-08 15:30] jlmmns commented on #583
Same thing over here.
Upgrade to 5.8. Everything seems to work fine, but Sentry keeps logging those exceptions.

[2019-07-09 09:52] halaei commented on #621
Option 1 for me too

[2019-07-09 10:19] mfn commented on #621
1️⃣

[2019-07-09 11:13] driesvints commented on #631
I think you're correct. @themsaid do you also follow this reasoning?

[2019-07-09 13:21] #621 closed

[2019-07-09 15:39] keithbrink commented on #583
@driesvints Any ideas for how we can get rid of the error from Sentry since the jobs are completing successfully?

[2019-07-09 16:05] driesvints commented on #583
No idea sorry...

[2019-07-09 17:00] michaelnguyen547 opened #634 "Error while sending STMT_PREPARE packet. PID=*"
- Horizon Version: 3.2.5
- Laravel Version: 5.8.27
- Telescope Version: 2.0.5
- PHP Version: 7.2
- Redis Driver & Version:phpredis 4.3.0

### Description:
I am using Sentry.io which reports the following error "Warning: Error while sending STMT_PREPARE packet. PID=487". It happens 2 to 3 times per day. I notice it started happening after I upgraded from

* Laravel 5.7 -> Laravel 5.8
* Telescope 1.

[2019-07-11 10:47] darki73 commented on #631
I've made a pull request just in case this issue will actually go through
https://github.com/laravel/horizon/pull/635

[2019-07-11 13:25] driesvints commented on #634
Probably a duplicate of https://github.com/laravel/framework/issues/28920

[2019-07-11 16:05] michaelnguyen547 commented on #634
@driesvints I agree. Most likely has to do with Laravel 5.8. I never had this issue on Laravel 5.7.

[2019-07-11 16:49] drbyte commented on #583
Yes, still happening for me.
I'm pretty sure the jobs actually do perform correctly.

Adding my updated version info for context:
`Laravel 5.8.28`
`mysql  Ver 15.1 Distrib 10.2.25-MariaDB` and `10.1.36-MariaDB`
Happens with and without `telescope` installed.
Horizon is of course using `redis` for the queue.

I'm seeing both the `STMT_PREPARE` and `MySQL server has gone away` errors (see linked iss

[2019-07-12 06:37] francescomalatesta commented on #622
Same problem here :( any ideas?

[2019-07-12 07:26] mikeburton220 commented on #122
I used tinker to run these lines. Works!

[2019-07-12 07:29] jasperf commented on #122
@mikeburton220 @kharysharpe mentioned this function earlier on. Using tinker is a quick way to use it though. Do not think it is built in yet, but it can be done this way and or added as another job. Thanks for the feedback!

[2019-07-12 11:34] driesvints commented on #634
I'm gonna close this in favor of https://github.com/laravel/framework/issues/28920 so let's continue the discussion there.

[2019-07-12 11:34] #634 closed

[2019-07-15 11:17] McKean commented on #322
We are encountering the same issue so I'm re-opening this.

Our setup on AWS:
4 beanstalk environments (web, worker1, worker2, preprod-web)
instance count is normally as follows:
web: 2 (can scale to 8)
worker1: 1 (can scale to 8)
worker2: 1 (can scale to 8)
preprod-web: 1

cron scheduled jobs are only triggered on the worker environments but the tasks are processed twice from what we observe.
Bas

[2019-07-17 06:48] rennokki commented on #629
It seems like the order of the pool hosts order matter. If the `master_fqdn` is first, it will always be used in every single job. Swapping the order with the `read_replica_fqdn` will make the read replica fqdn be used every single time.

[code]

Not to mention that the DB stickyness is `true`, and this might trigger this issue, but i want to use it during each request cycle.

I doubt, but i need

[2019-07-17 09:07] piratewebx commented on #267
@cytRasch What have u passed in the constructor to get it running ?

[2019-07-17 09:58] McKean commented on #322
@driesvints should I create a new issue or do you want to re-open this?

[2019-07-17 17:10] staudenmeir commented on #629
If you provide multiple hosts, Laravel orders them randomly and connects to the first (successful) one ([source](https://github.com/laravel/framework/blob/3723becafe0887157bb5beb6aa7ba53ef60855a9/src/Illuminate/Database/Connectors/ConnectionFactory.php#L175)). This host is then used as long as your application/queue worker is running.

Laravel uses [`shuffle()`](https://php.net/manual/en/function.

[2019-07-17 17:50] rennokki commented on #629
Is there any way I could just re-shuffle it every time the jobs start processing? I understand that the queue worker literally "caches" some config data so it won't bother the config retrieval so much, but it's odd it just gets stuck.

[2019-07-17 18:37] staudenmeir commented on #629
You would have to disconnect from the database and then reconnect using `DB::disconnect()` or `DB::reconnect()`.

[2019-07-18 11:42] driesvints commented on #322
@McKean I honestly think it's better that you switch to Laravel for scheduling. Scheduling isn't even documented for Lumen.

[2019-07-18 13:41] driesvints commented on #629
Closing this in favor of laravel/framework. Please post an issue there.

[2019-07-18 13:41] #629 closed

[2019-07-18 15:30] McKean commented on #322
@driesvints thanks for the response, I thought this might have been related, we are in fact using laravel, so I'll post this where relevant.

[2019-07-19 06:45] rennokki commented on #629
@staudenmeir I was able to replicate the issue your way and it seems like i had to use the `DB::disconnect()` at the very bottom of my jobs.

[2019-07-19 17:56] KaiReichart opened #636 "HTML in Error trace from Job is rendered in the Backend"
- Horizon Version: 2.2.2
- Laravel Version: 5.7.28
- PHP Version: 7.3.4
- Redis Driver & Version: predis/phpredis 1.1.1
- Database Driver & Version: MySQL

### Description:

HTML in Stacktrace is rendered in the Failed Job Detail view.

### Steps To Reproduce:

1. Have HTMl in a function call
    - `file_get_contents("<HTML HERE>")`
2. Have the job Fail
3. Check the Job in Horizon > Failed Jobs >

[2019-07-19 18:30] KaiReichart commented on #636
nvm its fixed in newer versions

[2019-07-19 18:30] #636 closed

[2019-07-20 09:10] ghobaty opened #637 "Make the recent failed jobs metric period configurable"
Related: https://github.com/laravel/horizon/issues/621

<img width="573" alt="Screen Shot 2019-07-20 at 11 07 35" src="https://user-images.githubusercontent.com/6379163/61576809-b0f7c400-aade-11e9-8e1b-0385cdf0908f.png">

After giving the latest version a try on production, for our use case, we think that the number of failed jobs last hour is actually more insightful than the number of failed job

[2019-07-22 20:00] rennokki commented on #629
Short brief & explainations here: https://github.com/laravel/framework/issues/29197#issuecomment-513930412

[2019-07-23 22:57] PDXfoster commented on #421
...but what if I'm not running high loads?

If I'm understanding correctly, this is all an attempt to steer dev's away from using the database queue driver - which has its own problems separate from a dashboard that sits on top of that system.

Maybe I'm misunderstanding something about horizon (I'm admittedly a noob to queues in general...) but it seems a little heavy handed to prevent the use of

[2019-07-24 05:18] barryvdh commented on #421
Horizon needs Redis anyway, so if you're running Redis already, it's just as easy to just use Redis for the queue also.

[2019-07-30 06:04] devinfd commented on #623
I'm not sure how to help with this issue but I am getting the exact same error on this job: https://github.com/Maatwebsite/Laravel-Excel/blob/3.1/src/Jobs/ReadChunk.php

[2019-07-30 08:23] driesvints commented on #637
Ping @JayBizzle @halaei @mfn @shawnhind. Can you guys please provide more insight into why you preferred option 1 vs option 3 from the issue linked above?

[2019-07-30 12:19] ragingdave commented on #623
@devinfd I don't believe that's the exact same issue, as that job referenced is a full fledged job and not a closure. Additionally, the specific job view for a failed job just displays with a spinner in the closure case whereas your's sounds like it is at least still showing something.

[2019-07-30 13:29] devinfd commented on #623
Sorry, it was midnight when I wrote that and couldn't think strait. So no, not the exact same issue/cause but yes the same result. All I get is the loading spinner and the console error:

[code]

@patrickbrouwers since this is coming from a Laravel-Excel job perhaps you can shed some light?

[2019-07-30 14:22] patrickbrouwers commented on #623
@devinfd Hm, haven't seen that issue yet with Horizon. Seems there's something in the payload that is specific for your import that Horizon doesn't like reading.

[2019-07-30 14:22] driesvints commented on #631
The PR was closed but I wanna look into this a bit more. Are you behind Cloudflare? Does Horizon properly loads if you disable its HTTPS enforcement?

[2019-07-30 14:26] devinfd commented on #623
Yea I agree. Unfortunately Horizon wont display the payload to help me debug the root problem in the job. Thanks anyway!

[2019-07-30 14:27] patrickbrouwers commented on #623
Have you checked whats' in the failed_jobs table?

[2019-07-30 14:53] pactode commented on #623
I am getting this error as well for a couple of failed jobs. All of them unrelated to Laravel Excel.

[2019-07-30 17:55] mfn commented on #637
I've no strong opinion and not opposing 3️⃣ ; _to me_ the additional "complexity" didn't seem worth it but as said, no strong attachment to 1.

[2019-07-30 18:17] darki73 commented on #631
I am just using the Cloudflare as DNS manager, however, none of the applications are under the cloudflare proxy. I am using Traefik as a reverse proxy and Horizon works just fine with the changes i've submitted in a PR.

[2019-07-30 19:53] shawnhind commented on #637
@driesvints I'm in the same boat as @mfn.  I oppose #2 because failed jobs in the last hour is too small of a time period to be useful.  I liked option 1 because it was simple and just implemented the behavior that was already expected.  I have nothing specifically against #3 other than extra complexity to the configuration but as long as defaults are sane then that's fine.

[2019-07-31 14:03] devinfd commented on #623
@patrickbrouwers You asked a good question. I re-checked the failed_jobs table and soon realized that the serialized data in the payload column was malformed. To keep a long story short, apparently in Laravel v5.2 the payload column was changed from Text to LongText. (https://github.com/laravel/framework/commit/08f27292942aadabeb577557a16832305e4a655a#diff-d66424f36c15b26742f3dff4f86be980). This c

[2019-08-01 16:04] driesvints commented on #637
@ghobaty feel free to attempt a PR. Please do keep in mind not to re-introduce the original problem.

[2019-08-01 16:10] driesvints commented on #631
@darki73 Telescope currently works in exactly the same way as Horizon.

I think it's probably best that in this case you publish the view files and make the modifications yourself. That way you're at least up and running. Like you said, this probably won't work for everyone.

[2019-08-01 16:10] #631 closed

[2019-08-02 13:40] derekmd commented on #637
I've rebased my [option 3 branch](https://github.com/laravel/horizon/compare/3.0...derekmd:dashboard-failed-job-count-config-filter) on the master branch and reverted the Vue template changes made in https://github.com/laravel/horizon/pull/633 for the tagged 3.2.6 release.

Ignoring the previously merged option 1 pull request, this comparison gives an idea of the Laravel Horizon  changes from 3.2.

[2019-08-02 14:34] ghobaty commented on #637
24 hours for me. Thanks!

[2019-08-04 01:05] shijunti19 commented on #563
Official Repair to Reduce User Difficulty

[2019-08-04 12:43] knno opened #639 "Horizon Page Open + redirect()->back()"
- Horizon Version: **3.2.7**
- Laravel Version: **5.8.30**
- PHP Version: **7.3.7-2**
- Redis Driver & Version: predis/phpredis **4.0.9 (redis-cli in homestead)**
- Database Driver & Version: **mysql server version 5.7.27**

### Description:
`redirect()->back()` is giving me "302 Found" to random horizon routes:
Such as
... *Redirecting to horizon/api/workload* ...
... *Redirecting to horizon/api/

[2019-08-05 09:50] driesvints commented on #639
Can you post your entire `web.php` routes file?

[2019-08-05 10:06] knno commented on #639
It is actually not much..

[code]

I try to visit /test/empty without having horizon open in a browser tab, and it works fine.
When horizon is open, this bug happens. It happens regardless of horizon's auto load entries.

[2019-08-05 11:47] JayBizzle commented on #637
Sorry for the late reply (family holiday), but basically what @shawnhind said.

@derekmd I'd keep the default config values equal to each other (10080)

[2019-08-05 12:10] driesvints commented on #637
I think it's ok to keep the current default. You're free to change it afterwards.

[2019-08-05 12:19] SDekkers commented on #639
The problem might be in the `startSession` middleware that isn't able to detect the `/horizon/api/`-routes as ajax request.

[2019-08-05 12:19] driesvints commented on #639
I can't reproduce this. Something tells me that there's still something missing here. Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stack

[2019-08-05 12:27] SDekkers commented on #639
@driesvints I was able to reproduce this;
1. Have a horizon instance running
2. Have the horizon index page open in a separate tab
3. dump the result of `\Illuminate\Support\Facades\URL::previous()`

This will return `/horizon/api/workload` or any other API address as Vue does not set the header `X-Requested-With` to `XMLHttpRequest`

[2019-08-05 12:30] knno commented on #639
Exactly my thoughts on the session and AJAX thing 👍

[2019-08-05 12:46] driesvints commented on #639
@SDekkers hmm indeed. I can see the horizon routes there.

[2019-08-06 02:48] drbyte commented on #563
Docs PR submitted: https://github.com/laravel/docs/pull/5351

[2019-08-06 18:04] #639 closed

[2019-08-07 09:33] matrad opened #645 "Issue when running php artisan horizon on multiple servers"
Hello,

I'm running the command ```php artisan horizon``` on three servers - web01, web02 and web03. These names are also the hostnames of the servers.

My config looks like this:

[code]

It works all fine, but on the horizon-Dashboard sometimes I see the web01, sometimes the web02 and sometimes the web03 processes. It's changing time by time. The requests are balanced on all three servers, so su

[2019-08-07 11:31] SDekkers commented on #622
If you look at [AutoScaler.php on Line 99](https://github.com/laravel/horizon/blob/3.0/src/AutoScaler.php#L99), you can see that if the time to clear is 0, it'll always return the max processes

We could add another line so the function would be something like this:

	protected function numberOfWorkersPerQueue(Supervisor $supervisor, Collection $timeToClear)
	{
		$timeToClearAll = $timeToClear->su

[2019-08-07 11:41] tomswinkels commented on #622
@driesvints check this comment :)

[2019-08-07 13:06] SDekkers commented on #622
I see the CI failed on 2 tests, but the 2 tests that fail:

`test_balancing_a_single_queue_assigns_it_the_max_workers`
and
`test_balance_stays_even_when_queue_is_empty`

both assume the amount of processes goes up to the maximum, when there are no jobs to handle, so either this change is undesirable, or the tests amended..

[2019-08-08 12:36] driesvints commented on #645
Hi there,

Thanks for reporting but it looks like this is a question which can be asked on a support channel. Please only use this issue tracker for reporting bugs with the library itself. If you have a question on how to use functionality provided by this repo you can try one of the following channels:

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/f

[2019-08-08 12:36] #645 closed

[2019-08-08 12:37] driesvints commented on #622
Thanks for investigating. Let's see how the pr goes.

[2019-08-08 13:36] SDekkers commented on #622
The PR should be complete :)
https://github.com/laravel/horizon/pull/647

[2019-08-08 14:04] driesvints commented on #637
PR was merged.

[2019-08-08 14:04] #637 closed

[2019-08-11 18:41] ghobaty commented on #620
I've found that the error was with `phpunserialize`call on `payload.data.command`. I've also noticed this happens with there are unicode characters in the serialized string (e.g. `foo bar \ud83d baz`)

[2019-08-13 13:29] CaelanStewart opened #649 "Allow customisation of options passed to binary PHP when adding a supervisor"
Hi,

Since the Process class requires `proc_open` internally, I've had to enable it globally for a PHP version.

However, it would be good if I could configure extra options such as `-d disable_functions=` to the PHP binary.

So then, I can start `php -d "disable_functions=" artisan horizon`, and it can delegate permissions, in effect, to the processes spawned by Horizon.

I tried to:

[code]

So

[2019-08-13 13:44] driesvints commented on #649
Heya, thanks for your suggestion. I don't think we'll ever implement this level of customization into Horizon. If more people would request this then we might be able to work something in. However, if you can send in a PR which implements this in a really easy way then feel free to do so. Thanks.

[2019-08-13 13:44] #649 closed

[2019-08-13 13:48] CaelanStewart commented on #649
@driesvints

This doesn't occur to me to be a high level of customisation.

I mean literally a string config option in `horizon.php`, and that options' content is interpolated into the command string.

Very simple customisation, and a limited customisation at that, too.

Is there a particular technical reason why not? Because it seems that we should not have to enable `proc_open` globally just to

[2019-08-13 13:50] driesvints commented on #649
@CaelanStewart we're not entirely opposed. I just closed this issue because it's not something we'd focus on. But you're free to send in a PR if you can implement it in a clean way.

[2019-08-13 13:52] CaelanStewart commented on #649
@driesvints

OK, that's fair enough.

Thank you for the prompt response.

[2019-08-13 14:57] CaelanStewart commented on #649
@driesvints

Hi,

I've figured out the error of my ways in my original attempt to override, and I've gotten the PHP arguments interpolated.

If I were to put together a pull request, bringing the changes from `app/Horizon/CustomSupervisorCommandString.php` to the original source file, do you think it would be accepted?

I don't want to put in the time if the way I've gone about it here would be co

[2019-08-20 04:19] hungtt57 opened #650 "Horizon stops consuming jobs when run with queue:work in supervisord"
- Horizon Version: 1.2
- Laravel Version: 5.6
- PHP Version: 7.2
- Redis Driver & Version: predis
- Database Driver & Version:

### Description:
I run laravel in 2 server,
in each server, i setup supervisor run 2 program:
  - php artisan queue:work
  - php artisan horizon
![Screenshot from 2019-08-20 11-29-17](https://user-images.githubusercontent.com/13230565/63317649-d118de00-c33d-11e9-8895-08e4

[2019-08-20 06:50] mityukov commented on #71
A quick question here: considering that Vapor comes with built-in SQS setup for queues, does it mean Horizon has SQS driver now?

[2019-08-20 07:37] SDekkers commented on #622
I have re-submitted my PR which I'm using on my production environment, this avoids having my queue instances running max processes continuously, while the min processes would suffice under normal load

[2019-08-20 10:47] ronnievisser commented on #622
I would love to see this being merged. It’s quit a bug in my opinion.

Ronnie
On 20 Aug 2019, 09:37 +0200, SDekkers <notifications@github.com>, wrote:

[2019-08-20 11:49] driesvints commented on #650
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-08-20 11:49] #650 closed

[2019-08-20 12:45] #622 closed

[2019-08-21 08:12] tomswinkels commented on #622
@SDekkers Really nice, today i have test it and it is great!

But i have some questions:

- When the balance are false the min and max processes are not worked?

**Example**:

minProcesses 1
maxProcesses 8

The process is started with 1 process, when there are a lot of jobs than 2 processes, but there are very high processes.

Maybe it is better that change processes directly to the max processes

[2019-08-22 10:01] SDekkers commented on #622
@tomswinkels it's the way Laravel Horizon is built, every 3 seconds it polls to check if the load is high enough to scale up, the function `scale()` scales processes up or down with 1. If the load is high for lots of time it should eventually scale up to the max processes (in your example, in 21 seconds)

Alternatives could be increasing your minProcesses, or a new PR that allows adjusting the sca

[2019-08-23 07:52] tomswinkels commented on #622
@SDekkers thnx for the reaction.

And my other question? It don't works when the blance = false for the job.

[2019-08-23 09:32] Cannonb4ll commented on #612
@driesvints I can confirm with 2 other colleagues where I have tested it with, it seems like a serious problem.

tl;dr: it seems like the timeout setting you put inside the job (e.g. `public $timeout = 10`) is not taken in consideration by horizon. (It'll run endlessly for some reason)

I have created a repository for you to simulate the problem easily, its just a clean laravel installation.

http

[2019-08-23 09:40] tomswinkels commented on #612
@Cannonb4ll Yeah right, same issue here. We have some job that doing external change by the client. When they don't give response back the job will run some days. We must kill the processes then by manuel.

Maybe @SDekkers can help us, he have fix a scaleup problem some days ago! :-) !

[2019-08-23 11:57] SDekkers commented on #622
Well, if you specify that balance = false, it kind of disables the auto balancer function..

https://github.com/laravel/horizon/blob/3.0/src/SupervisorOptions.php#L125
This function is called to determine if autoscale should work at all

[2019-08-23 19:07] renanwilliam opened #654 "Horizon can't be stopped in a distributed scenario"
- Horizon Version: 2.2.1
- Laravel Version: 5.8.30
- PHP Version: 7.2.15
- Redis Driver & Version: predis/phpredis 5.[02
- Database Driver & Version: MySQL 5.7.23

### Description:
In a distributed scenario, the command `php artisan horizon:terminate` don't finish all supervisor process, only if it runs on the machine that is supervisor is running.

I have a application running in AWS using the 'm

[2019-08-24 09:46] driesvints commented on #654
Hey there,

Unfortunately we don't support this version anymore. Please check out [our support policy](https://laravel.com/docs/releases) on which versions we are currently supporting. Can you please try to upgrade to the latest version and see if your problem persists? We'll help you out and re-open this issue if so.

Thanks!

[2019-08-24 09:46] #654 closed

[2019-08-26 14:07] devinfd opened #655 "Recurring Allowed memory size exhausted exception"
- Horizon Version: 3.3.1
- Laravel Version: 5.7.28
- PHP Version: 7.2.0-2+ubuntu16.04.1+deb.sury.org+2
- Redis Driver & Version: predis 1.1.1
- Database Driver & Version:

### Description:
For the past 18 hours I have been trying to diagnose a Symfony FatalErrorException, Allowed memory size of 536870912 bytes exhausted that occurs every ~2 minutes. The exception stack has this server arg ```["art

[2019-08-26 14:09] driesvints commented on #655
Hey there,

Can you first please try one of the support channels below? If you can actually identify this as a bug, feel free to report back and I'll gladly help you out and re-open this issue.

- [Laracasts Forums](https://laracasts.com/discuss)
- [Laravel.io Forums](https://laravel.io/forum)
- [StackOverflow](https://stackoverflow.com/questions/tagged/laravel)
- [Discord](https://discordapp.com/

[2019-08-26 14:09] #655 closed

[2019-08-31 11:15] hellowords commented on #563
It is possible that you are not using the default guard。
the default value in the modified file is your guard.

[2019-09-02 13:20] themsaid commented on #612
Hey everyone, I can't seem to replicate the original issue reported here but I can see that the comments are discussing a completely different matter so let me clarify.

A job will only be reported as failed after the retry_after period passes, but the process is actually terminated once the timeout is reached.

[2019-09-02 13:42] tomswinkels commented on #612
@themsaid thnx for the answer.

I have some timeout of 60 seconds, and a retry_after of 90 seconds.

Check the screen and see the runtime of the process...

https://cdn.discordapp.com/attachments/491412519123157002/618046614971613184/unknown.png

[2019-09-03 09:12] lechbaczynski opened #658 "Autoscaler is too slow (or run too seldom)"
- Horizon Version: 3.3.2
- Laravel Version: 5.8.34
- PHP Version: 7.2.19
- Redis Driver & Version: predis 1.1.1
- Database Driver & Version: mysql

### Description:

Supervisor with 6 queues and 1800 processes (3 other supervisors running too, but with not much workers and jobs).
Starts with 300 processes, then the numbers go down.

There is a lot of jobs in one queue, yet the number of workers ri